*
{
    padding:0%;
    margin: 0%;
    font-family: 'Roboto Condensed', sans-serif;
    scroll-behavior: smooth;
}

.brandname {
    height: 127px;
}
.logoid {
    /* height: 10px; */
    display: inline;
    z-index: 1;
    height: 67px;
    z-index: 1;
    margin-left: 36px;
}
.brandname h1 {
    color: #8E343E;
    text-transform: initial;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
        margin-top: -58px;
    /* width: 61%; */
    /* margin-top: -115px; */
    margin-left: -20px;
}
.brandname h4
{
color: #8E343E;
    margin-left: 14px;
    /* font-size: 27px; */
    font-weight: bold;
}

.w-100 {
    width: 100%!important;
    margin-top: 0px;
}

.menu-bar
{
background-color:non;
}

.navbar {
    overflow: hidden;
    background-color:#8E343E;
    padding:0.5% 5%;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0%;
    z-index: 99;
    color:white;
}
.nav-item
{
    margin: -1px 13px;
}
.nav-link a
{
    padding: 0px 0px;
}
 .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.7);
}
.nav link a:hover
{
    color:black;
}
.navbar-nav{
    padding:0% 0%;
}
.menu-bar1
{
background-color:#4957BA;
}
.navbar1 {
    overflow: hidden;
    background-color: brown;
    /* padding: 0.5% 5%; */
    transition: 0.4s;
    position: relative;
    width: 100%;
    height: 52px;
    top: 0%;
    margin-top: -33px;
    z-index: 99;
    color: white;
    opacity: 1;
}
.hide{
    opacity: 0;
}
.nav-link
{
    font-size: 19px;
    color:white;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
.nav1
{
display: block;
opacity: 0;
}
.navbar-light .navbar-nav {
    color: white;
    padding: 0% 8%;
    margin-left: 120px;
    margin-top: -11px;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 25px;
}
.navbar-light .navbar-nav .nav-link-active {
    color: black;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: black;
}
.brand-image
{
height: 60px;
width:20%;
}
.social-icons{
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;

}
.iconsd{
background-color:#F1F1F1;

}
.navbar-nav
{
    text-align: right;
}
.navbar .navbar-toggler
{
    padding-right: 0;
    outline: none;
    border:none;
}
.dropdown:hover>.dropdown-menu {
    display: inline;
    overflow: visible;
    z-index: 1000;
    position: inherit;
    transform: uppercase;
}

.ban
{   height:60vh;
    color:white;
    background-color:black;
    background-image:url("images/gu1.jpg");
    background-size:cover;
    padding-top:20%;

}
.ban h1
{
     text-align:center;
    font-weight:900;
    font-size:46px
}
.our-vision
{

    padding-top: 03%;
    padding-bottom: 3%;
   max-width: 100%;
   background: #f2f2f2;

}
.services1
{
    height: 90px;
    width:77%;
    margin-left:33%;
    margin-top: 20%;
    color: white;
    padding: 22%;
        background: #8190A3;
     
}.myrow12
{
    overflow: hidden;
    color:white;
}
.co
{    text-align: center;
     border: 1px solid black;
    height:01vh;
    width: 10%;
    margin-left:45%;
    overflow: hidden;
}
.co1
{   height: 01vh;
    width:30%;
    background: #4957BA;
}
.videos
{    height: 347px;
    background: #89313D;
    width: 99.9%;
}
.v1v5{
text-align: left; margin-left: -8%;padding-top: 4%;
}
.co01
{    text-align: center;
     border: 1px solid black;
    height:01vh;
    width: 30%;
    margin-left:30%;
    padding-left: 12%;
    overflow: hidden;
}
.co02
{   height: 01vh;
    width:30%;
    background: white;
}
.co011
{    text-align: center;
     border: 1px solid black;
    height:01vh;
    width: 30%;
    margin-left:0%;
    padding-left: 12%;
    overflow: hidden;
}
.co021
{   height: 01vh;
    width:30%;
    background: white;
}
.our-team1
{
height: 70vh;
background: white;
}
.What-we-are1
{
height: 257px;
width: 100%;
margin: 64px 0px;

}
.what-we-content
{
    height: 347px;
    margin-left: 08%;
}
.unic1
{
        margin-top: -16px;
}
.myrow12
{
    height: 344px;
}
.what h2
{
    text-align: left;
    color: black;
    font-weight: bold;
    padding-left: 11px;
    /* font-size: 30px; */
    letter-spacing: 0.6px;
}
.what p{
    
    padding: 10px;
}
.tt
{
    height:83%;
    width:85%;
    margin-left:8%;
}
.img
{


}
.mycontainer22
{
    background-color:white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius:17px;

}
.btn-danger
{
    background-color:red;
    transition: 0.72ms;
    float: left;
}

.btn-danger:hover
{    color:#FFD60E;
    background-color:transparent;
    border-color: blue;
}

.content p
{
    padding-left:70px;
}
.image b
{
    width: 30%;
    height: 10%;
    background-color:#FFD60E;
}
.fixed02
{
    height: 40vh;
    width: 100%;
    background-color: #FFD60E;
    opacity: 1;
    background-image: url("");
    background-attachment: fixed;
}
.guard 
{
    padding-top: 06%;
    color :white;
}
.owner
{   
    height: 80vh;
    width: 100%;
}
.ownerimage
{   
    text-align:center;
    border-radius:75px;
    margin-left:43%;
    overflow:auto;
    margin-top: 11px;
   
}
.kris
{
    height: 158px;
    width:158px;
}
.ownerimage1
{   
    text-align:center;
    border-radius:75px;
    margin-left:33%;
    overflow:auto;
}
.ocontent
{   margin-top:-65px;
    
    border-spacing:15px 0px;
    padding:80px 0% 0% 0%;
    border-radius:5px;
    
}
.ocontent1
{   margin-top:-65px;
    
    border-spacing:15px 0px;
    padding:15% 10% 10% 6%;
     border-radius:8px;
    
}
.owner-team
{   
    height:1212px;
    width: 101.1%;
    
    padding:2%;
    background-color:#F5F7FA;
}#more {display: none;}
#more1 {display: none;}
.our-people {
           /* margin-top: 90px; */
    background: #F5F7FA;
    width: 101.1%;
    height: 708px;
    padding: 132px 0px;
}
.our-people1 {
     margin-top: -45px;
    background: #F5F7FA;
    width: 101.1%;
    height: auto;
}
.crd {
    border:2px solid navy;
    border-radius: 30px;
    overflow: hidden;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
  .hi {
      border-radius: 30px;
      box-shadow: 5px 10px 10px navy;
  }
  /*-----Testimonial-------*/

.testimonials:after {
    position: absolute;
    top: -0 !important;
    left: 0;
    content: " ";
    background: url(images/old/testimonial.bg-top.png);
    background-size: 100% 100px;
    width: 100%;
    height: 100px;
    float: left;
    z-index: 99;
}

.testimonials {
    min-height: 375px;
    position: relative;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(s.jpg);
    padding-top: 50px;
    width:101.1%;
    padding-bottom: 50px;
    background-position: center;
        background-size: cover;
}
#testimonial4 .carousel-inner:hover{
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#testimonial4 .carousel-inner:active{
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#testimonial4 .carousel-inner .item{
  overflow: hidden;
}

.testimonial4_indicators .carousel-indicators{
  left: 0;
  margin: 0;
  width: 100%;
  font-size: 0;
  height: 20px;
  bottom: 15px;
  padding: 0 5px;
  cursor: e-resize;
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}
.testimonial4_indicators .carousel-indicators li{
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  text-indent: 0;
  margin: 2px 3px;
  cursor: pointer;
  display: inline-block;
  background: #ffffff;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators .active{
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  margin: 2px 3px;
  background-color: #9dd3af;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar{
  height: 3px;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar-thumb{
  background: #eeeeee;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.testimonial4_control_button .carousel-control{
  top: 175px;
  opacity: 1;
  width: 40px;
  bottom: auto;
  height: 40px;
  font-size: 10px;
  cursor: pointer;
  font-weight: 700;
  overflow: hidden;
  line-height: 38px;
  text-shadow: none;
  text-align: center;
  position: absolute;
  background: transparent;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.6s cubic-bezier(0.3,1,0,1);
  transition: all 0.6s cubic-bezier(0.3,1,0,1);
}
.testimonial4_control_button .carousel-control.left{
  left: 7%;
  top: 50%;
  right: auto;
}
.testimonial4_control_button .carousel-control.right{
  right: 7%;
  top: 50%;
  left: auto;
}
.testimonial4_control_button .carousel-control.left:hover,
.testimonial4_control_button .carousel-control.right:hover{
  color: #000;
  background: #fff;
  border: 2px solid #fff;
}

.testimonial4_header{
  top: 0;
  left: 0;
  bottom: 0;
  width: 550px;
  display: block;
  margin: 30px auto;
  text-align: center;
  position: relative;
}
.testimonial4_header h4{
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.testimonial4_slide{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  margin: auto;
  padding: 20px;
  position: relative;
  text-align: center;
}
.testimonial4_slide img {
    top: 0;
    left: 0;
    right: 0;
    width: 136px;
    height: 136px;
    margin: auto;
    display: block;
    color: #f2f2f2;
    font-size: 18px;
    line-height: 46px;
    text-align: center;
    position: relative;
    border-radius: 50%;
    box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
}
.testimonial4_slide p {
    color: #ffffff;
    font-size: 20px;
    line-height: 1.4;
    margin: 40px 0 20px 0;
}
.testimonial4_slide h4 {
  color: #ffffff;
  font-size: 22px;
}

.testimonials .carousel {
	padding-bottom:50px;
}
.testimonials .carousel-control-next-icon, .testimonials .carousel-control-prev-icon {
    width: 35px;
    height: 35px;
}
/* ------testimonial  close-------*/

.foot
{
height: 30vh;
width:101.1%;
background-color: #070707;
color:white;
text-align: center;
}
.foot h2{
    opacity: 0.5;
}
.foot h2:hover{
    opacity: 1;
}
.footer
{
    background-color: #000;
    color:white;
    padding:2px 0px;
    text-align: center;
    width:101.1%;
}

/*////////////*/

@media(max-width: 1200px){

}


@media(max-width: 992px){
     .mycontainer8
    {
        max-width:889;
    }
    .banner h1{
        font-size: 23px;
    }
    .price{
    padding-left:4%;    
    }
    .iconsd
{
background-color:#F1F1F1;
    /*padding: 16px 0;*/
        text-align: center;
}
.coll-lar{
        width: 25%;
    float: left;
}    

}
.fixed
{
    max-height:100vh;
}

@media(max-width: 767px){
   
    .banner h1{
        font-size: 23px;
    }
    .iconsd
{
background-color:#F1F1F1;
    /*padding: 16px 0;*/
        text-align: center;
}
.social-icons{
    padding: 10px 0;

}

.coll-md-4{
        width: 50%;
    float: left;
}

.col-sm-3
{
    flex:100%;
    max-width:100%;
}.image img {
    max-width: 30%;
}
.ban
{   height:60vh;
    padding-top:20%;
    margin-top:20%;
}
}
@media screen and (min-width: 768px){
.mycontainer8 {
    max-width: 854px;
}
.image img {
    max-width: 100%;
}
.carousel-inner {
    height: 374px;
    padding-top: 0%;
}
.ban
{   height:400px;
    padding-top:20%;
margin-top:0%;
}
}
@media screen and (max-width: 460px){
 .row10{
     width:100%;
 }   
   .navbar {
    overflow: hidden;
    background-color:#4957BA;
    padding:0% 5%;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}
.navbar-light .navbar-nav
{
    color:white;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.navbar-light .navbar-nav .nav-link-active {
    color: rgba(0,0,0,.5);
}
.carousel-item
{
    height: 50vh;
    width:100%;
}
.w-100 {
    width: 100%!important;
    height: 60vh;
}
    
   
    .mycontainer1 {
    display: inline;
    
}
/*.header {
    margin-top: 33%;
    height: 55;
    padding: 1em 0em;
    background: #FFD60E;
    line-height: 0.5;
    width:100%;
}.web_header_left
{
    float:left;
    margin-left:16%;
}*/
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    position: relative;
    left: -47%;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

.logoid {
    /* height: 10px; */
    margin: -2% 0% 0% 34%;
    z-index: -1;
    display: none;
}
.brand-image
{
    margin-left:28%;
    width:40%;
}
.brandname h1 {
    color: #8E343E;
    text-transform: initial;
    font-weight: bold;
    text-align: center;
    font-size: 52px;
}
.What-we-are1 {
    height: 415px;
    width: 100%;
    margin-top: 04%;
}
.ban
{   height:512px;
    background-image:url(images/old/gu1.jpg);
    background-size:cover;
    padding-top:40%;
    margin-top:0%;
}

#myDIV {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    margin-top: 20px;
  }
  #myDIV1 {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    margin-top: 20px;
  }
 
.ownerimage
{
    text-align:center;
    border-radius:75px;
    margin-left:32%;
    overflow:auto;
}
.ownerimage1
{
    text-align:center;
    border-radius:75px;
    margin-left:30%;
    overflow:auto;
}
.ocontent
{
    margin-top:-65px;
    border:1px solid gray;
    border-spacing:15px 0px;
    padding:80px 3% 1% 3%;
    border-radius:5px;
}
.ocontent1
{
    margin-top:-65px;
    border:1px solid gray;
    border-spacing:15px 0px;
    padding:25% 10% 10% 6%;
    border-radius:5px;
}
.owner-team
{
    height:2642px;
    width:100%;
    background-color:white;
    padding:2%;
}
.vision-content
{
    padding:0% 8%;
}
.best
{
    width:100%;
    text-align:center;
}
.our-vision {
    padding-top: 03%;
    padding-bottom: 3%;
    max-width: 100%;
    background: #f2f2f2;
    height: 710px;
}
.services1 {
    height: 71px;
    width: 22%;
    margin-left: 34%;
    margin-top: 9%;
    color: white;
    /* padding: 10%; */
    padding: 4% 5%;
    background: #8190A3;
}
.services {
    max-width: 98.9%;
    margin-top: -24%;
    background: #F7F7F7;
    height: 200vh;
    padding-top: 06%;
}
.tt {
     height: 57vh;
    width: 85%;
    margin-left: 8%;
}
.v1v5{
text-align: left; margin-left: 10%;padding-top: 4%;
}
.vision-content h4
{
    text-align:center;
    padding-left:10%;
        margin-left: -18%;
}
.coll-sm-12{
        width: 100%;
    float: left;
}
.videos {
    height: 880px;
    margin-top: 68px;
    background: brown;
    width: 98.1%;
}
.what-we-content
{
    height:30vh;
    margin-left:12%;
}
.container-coun
{
    width:52%;
}
.col-coun
{
    margin:10% 0%;
}
.foot {
    height: 30vh;
    width: 100%;
    background-color: #070707;
    text-align: center;
    padding-top: 22%;
}
#box{
    padding:14% 0%;
    background:red;
    width:200px;
    height:23vh;
    font-family:Helvetica
  }
  
  #box h1, span{
    color:#FFFFFF;
    font-weight:normal
        margin-right: 97%;

  }
  
  #box h1{
    font-size:1.4em;
    text-align:center;
    line-height:1.2;
        margin-right: 97%;

  }
  
  #box span{
    font-size:4.4em;
    text-align:center;
    display:block;
  }
  .video
  {
      height: 90vh;
      background-color: #4957BA;
      font-weight: 800;
      padding:3% 0%;
      font-size:19px;
      color:white;
  }
  .video1
  {
      padding-top:05%;
  }

  }
.fixed{
width: 100%;
height: 100vh;
background: url("img/0.jpg");
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
background-attachment: fixed;  
padding-bottom:10%
}

.bar{
    width:100%;
    max-width: 100%;
}
}
.bar h3 {
  font-size: 1.6em;
  font-weight: 50%;
  margin: 0;
  padding-top: 16%;
  text-transform: uppercase;
  color: orange;
}

.pr
{
    margin-top:10%;
}
}


