*
{
    padding:0%;
    margin: 0%;
    font-family: 'Roboto Condensed', sans-serif;
    scroll-behavior: smooth;
}
.brandname {
    height: 127px;
}
.logoid {
    /* height: 10px; */
    display: inline;
    z-index: 1;
    height: 67px;
    z-index: 1;
    margin-left: 36px;
}
.brandname h1 {
    color: #8E343E;
    text-transform: initial;
    font-weight: bold;
    text-align: center;
    font-size: 37px;
        margin-top: -58px;
    /* width: 61%; */
    /* margin-top: -115px; */
    margin-left: 20px;
}
.brandname h4
{
color: #8E343E;
    margin-left: 14px;
    /* font-size: 27px; */
    font-weight: bold;
}
.w-100 {
    width: 100%!important;
    margin-top: 0px;
}
.w-100 {
    width: 100%!important;
    margin-top: 0px;
}

.menu-bar
{
background-color:non;
}

.navbar {
    overflow: hidden;
    background-color:#8E343E;
    padding:0.5% 5%;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0%;
    z-index: 99;
    color:white;
}
.nav-item
{
margin: -1px 13px;
}
.nav-link a
{
    padding: 0px 0px;
}
 .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.7);
}
.nav link a:hover
{
    color:black;
}
.navbar-nav{
    padding:0% 0%;
}
.menu-bar1
{
background-color:#4957BA;
}
.navbar1 {
    overflow: hidden;
    background-color: brown;
    /* padding: 0.5% 5%; */
    transition: 0.4s;
    position: relative;
    width: 100%;
    height: 52px;
    top: 0%;
    margin-top: -33px;
    z-index: 99;
    color: white;
    opacity: 1;
}
.hide{
    opacity: 0;
}
.nav-link
{
    font-size: 19px;
    color:white;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
.nav1
{
display: block;
opacity: 0;
}
.navbar-light .navbar-nav {
    color: white;
    padding: 0% 8%;
    margin-left: 120px;
    margin-top: -11px;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 25px;
}
.navbar-light .navbar-nav .nav-link-active {
    color: black;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: black;
}
.brand-image
{
height: 60px;
width:20%;
}
.social-icons{
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;

}
.iconsd{
background-color:#F1F1F1;

}
.navbar-nav
{
    text-align: right;
}
.navbar .navbar-toggler
{
    padding-right: 0;
    outline: none;
    border:none;
}
.dropdown:hover>.dropdown-menu {
    display: inline;
    overflow: visible;
    z-index: 1000;
    position: inherit;
    transform: uppercase;
}

/*-- header --*/
.web_header_left{
	float: right;
}
.web_header_left p{
	color:#999;
	line-height:1.8em;
}
.web_header_right{
	float:left;
}
.header {
    margin-top:05%;
    height: 45px;
    padding: 1em 0em;
    background:#FFD60E;
    line-height: 0.5;
}
.web_header_right ul li{
	display:inline-block;
	    color: #000;
}
.web_header_right ul li:last-child{
	margin-left:2em;
}
.web_header_right ul li i{
	    color: #000;
	padding-right:1em;
}
.web_header_right ul li a{
		    color: #000;
	text-decoration:none;
	font-size: 22px;
}
.web_header_right ul li a:hover{
	color:#fa3d43;
}
.web_header_left ul li {
    display: inline-block;
    list-style: none;
    margin-right: 1em;
}
.web_header_left ul li a {
      color: #000;
    padding: 0.5em 1em;
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.web_header_left i {
    color: #000;
}
.social_list_w3ls {
    position: absolute;
    bottom: -126px;
    left: 16px;
}
.social_list_w3ls i {
    width: 0;
    height: 0;
    margin: 0;
}
.social_list_w3ls a {
    display: inline-block;
    margin-right:36px;
    color: #fff;
}
.social_list_w3ls a:hover{
	color:#00acee;
}
.social_list_w3ls span {
    font-size: 1em;
}
.ban
{   height:60vh;
    color:white;
    background:black;
    background-image:url(gu1.jpg);
    background-size:cover;
    padding-top:20%;

}
.ban h1
{
     text-align:center;
    font-weight:900;
}
#id1
{
    height:932px;
}
.services1
{
   max-width: 99.9%;
   background: white;
   height: 859px;
   
}
.co
{    text-align: center;
     border: 1px solid black;
    height:01vh;
    width: 10%;
    margin-left:45%;
    overflow: hidden;
}
.co1
{   height: 01vh;
    width:30%;
    background: #4957BA;
}
.dogservice_content
{
    margin-left:40px;
}
   #myDIV1 {
    width: 100%;
    /* padding: 50px 0; */
    /* text-align: center; */
    /* background-color: lightblue; */
    margin-top: -17px;
   }
html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
.content{
    border: 2px #FFD60E solid;

}
.image{
    width:25%;
    height:40vh;
    
    border-left:2px solid #8ccece;
}
.image h3{
    padding-top: 35%;
    font-weight: 500;
    text-align: center;
    font-size: bold;
    color:#2697C1;
    transition: 0.89s ease-out;

}

.content p
{
    padding-left:70px;
}
.image b
{
    width: 30%;
    height: 10%;
    background-color:#FFD60E;
}
.btn
{
    background-color:red;
    transition: 0.72ms;
    float: left;
}
.btn:hover
{    color:red;
    background-color:transparent;
    border-color:white;
}.Viewbtn
{
    width: 40%;
    border-radius:20px;
    color:white;
    background:linear-gradient(to left, #FFD60E,#CD5751);
}
.row23
{
    margin-left:30px;
}
.carousel
{
padding-top:0%;
}
.carousel-inner
{
    height: 300px;
    padding-top: 0%;
}
.img-service {
    width: 95%;
    height:185px;
    box-shadow: 4px 0px 7px 0px lightgrey;
}
.img-services {
    width: 95%;
    box-shadow: 4px 0px 7px 0px lightgrey;
}
.btn-warning
{
    margin-left:1100px;
}
.benifits {
    height: 316px;
    background-image: url(images/old/
    bg-ug2.jpg);
    background:black;
    background-size: cover;
    background-position: center;
    padding-top: 02%;
    width:100%;
    color:white;
    margin-top: 7%;
}
.card-body1
{
    float:left;
}
.card-body1 ul li 
{
     list-style: none;
    font-size: 20px;
    font-weight: bold;
    color: darkblue;
    float: left;
    line-height: 44px;
    letter-spacing: 1px;
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 30px 20px;
    /* padding: 1.25rem; */
}
.card-body2 {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 30px 20px 118px 20px;
    /* padding: 1.25rem; */
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    font-size:23.3px;
    color: white;
    font-weight: bold;
    background: #dc3545;
    /* background-color: rgba(0,0,0,.03); */
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.office-boy
{
margin-left: -118px;
}
.office-boy1 {
    margin-left: -171px;
}
.col-b1
  {
      color:white;
     
      
  }
  .button:hover, a:hover {
    opacity: 0.7;
  }
  .hi {
      border-radius: 30px;
      box-shadow: 5px 10px 10px navy;
  }
  .serv {
    width: 100%;
    height: 575px;
    padding-top: 6%;
    background: rgb(243, 242, 242);
    margin-top: -148px;
} 
.row23
{
    width:96%;
    text-align: center;
    margin-left: 3%;
}
.row231
{margin-top:-18%;
    width:96%;
    text-align: center;
    margin-left: 3%;
} 
.card{
    background: #F7F7F7;
}
.card-img {
    height: 30%;
    width: 58%;
    /* padding-left: 1; */
    margin-left: 17%;
    text-align: center;
    opacity: 0.3;
}
.card-img:hover
{
opacity: 1;
transition: 0.9s liner;
}.lines
{
    width:540px;
    height: 2px;
    background: #FFD60E;
}
.certifications
{
    height: 90vh;
}
.col-bb
{
    color: transparent;
}
.semester
{   height: 30vh;
    background-position: center;
    background-size:cover;
    background:linear-gradient(to right,#FFD60E,navy);
    background-repeat: no-repeat;
    padding:54px;
    z-index: 1;
    margin-top: 13%;
}
 /*-----Testimonial-------*/

 .testimonials:after {
    position: absolute;
    top: -0 !important;
    left: 0;
    content: " ";
    background: url(img/testimonial.bg-top.png);
    background-size: 100% 100px;
    width: 100%;
    height: 100px;
    float: left;
    z-index: 99;
}
 /*-----Testimonial-------*/

.testimonials:after {
    position: absolute;
    top: -0 !important;
    left: 0;
    content: " ";
    background: url(img/testimonial.bg-top.png);
    background-size: 100% 100px;
    width: 100%;
    height: 100px;
    float: left;
    z-index: 99;
}

.testimonials {
    min-height: 375px;
    position: relative;
background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-top: 50px;
    padding-bottom: 50px;
    background-position: center;
        background-size: cover;
}
#testimonial4 .carousel-inner:hover{
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#testimonial4 .carousel-inner:active{
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#testimonial4 .carousel-inner .item{
  overflow: hidden;
}

.testimonial4_indicators .carousel-indicators{
  left: 0;
  margin: 0;
  width: 100%;
  font-size: 0;
  height: 20px;
  bottom: 15px;
  padding: 0 5px;
  cursor: e-resize;
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}
.testimonial4_indicators .carousel-indicators li{
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  text-indent: 0;
  margin: 2px 3px;
  cursor: pointer;
  display: inline-block;
  background: #ffffff;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators .active{
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  margin: 2px 3px;
  background-color: #9dd3af;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar{
  height: 3px;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar-thumb{
  background: #eeeeee;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.testimonial4_control_button .carousel-control{
  top: 175px;
  opacity: 1;
  width: 40px;
  bottom: auto;
  height: 40px;
  font-size: 10px;
  cursor: pointer;
  font-weight: 700;
  overflow: hidden;
  line-height: 38px;
  text-shadow: none;
  text-align: center;
  position: absolute;
  background: transparent;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.6s cubic-bezier(0.3,1,0,1);
  transition: all 0.6s cubic-bezier(0.3,1,0,1);
}
.testimonial4_control_button .carousel-control.left{
  left: 7%;
  top: 50%;
  right: auto;
}
.testimonial4_control_button .carousel-control.right{
  right: 7%;
  top: 50%;
  left: auto;
}
.testimonial4_control_button .carousel-control.left:hover,
.testimonial4_control_button .carousel-control.right:hover{
  color: #000;
  background: #fff;
  border: 2px solid #fff;
}

.testimonial4_header{
  top: 0;
  left: 0;
  bottom: 0;
  width: 550px;
  display: block;
  margin: 30px auto;
  text-align: center;
  position: relative;
}
.testimonial4_header h4{
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.testimonial4_slide{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  margin: auto;
  padding: 20px;
  position: relative;
  text-align: center;
}
.testimonial4_slide img {
    top: 0;
    left: 0;
    right: 0;
    width: 136px;
    height: 136px;
    margin: auto;
    display: block;
    color: #f2f2f2;
    font-size: 18px;
    line-height: 46px;
    text-align: center;
    position: relative;
    border-radius: 50%;
    box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
}
.testimonial4_slide p {
    color: #ffffff;
    font-size: 20px;
    line-height: 1.4;
    margin: 40px 0 20px 0;
}
.testimonial4_slide h4 {
  color: #ffffff;
  font-size: 22px;
}

.testimonials .carousel {
	padding-bottom:50px;
}
.testimonials .carousel-control-next-icon, .testimonials .carousel-control-prev-icon {
    width: 35px;
    height: 35px;
}



.foot
{
height: 30vh;
width:100%;
background-color: #070707;
text-align: center;
}
.foot h2{
    opacity: 0.3;
    color:white;
}
.foot h2:hover{
    color: white;
    opacity: 0.9;
}
.footer
{
    background-color: #000;
    color:white;
    padding:2px 0px;
    text-align: center;
}
@media(max-width: 1200px){

.cards{
    width: 90%;
    margin: 20px 30px;
}
.cards1{
    width: 90%;
    margin: 20px 30px;
}
.cards2{
    width: 90%;
    margin: 20px 30px;
}
.cards3{
    width: 90%;
    margin: 20px 30px;
}
}


@media(max-width: 992px){
     .mycontainer8
    {
        max-width:889;
    }
    .banner h1{
        font-size: 23px;
    }
    .price{
    padding-left:4%;    
    }
    .iconsd
{
background-color:#F1F1F1;
    /*padding: 16px 0;*/
        text-align: center;
}
.coll-lar{
        width: 25%;
    float: left;
}    
.cards{
    width: 100%;
    margin: 20px 30px;
}
.cards1{
    width: 100%;
    margin: 20px 30px;
}
.cards2{
    width: 100%;
    margin: 20px 30px;
}
.cards3{
    width: 100%;
    margin: 20px 30px;
}
.social-icons{
    padding: 10px 0;

}
}
.fixed
{
    max-height:100vh;
}

@media(max-width: 767px){
   
    .banner h1{
        font-size: 23px;
    }
    .iconsd
{
background-color:#F1F1F1;
    /*padding: 16px 0;*/
        text-align: center;
}
.social-icons{
    padding: 10px 0;

}
.cards{
    width: 90%;
    margin: 20px 20px;
}
.cards::after{
    content: 'Congratulations for your Business';
    text-align: center;
    
    position: absolute;
    top: 0;
    /*left: 0;*/
    background:rgba(84, 226, 214, 0.637);;
    color:#fff;
    font-size: 33px;
    width: 240px;
    height: 160px;
    transform: rotateY(90deg);

}
.cards1{
    width: 90%;
    margin: 20px 20px;
}
.cards1::after{
    content: 'Congratulations for your Business';
    text-align: center;
    
    position: absolute;
    top: 0;
    /*left: 0;*/
    background:rgba(84, 226, 214, 0.637);;
    color:#fff;
    font-size: 33px;
    width: 240px;
    height: 160px;
    transform: rotateY(90deg);

}.cards2{
    width: 90%;
    margin: 20px 20px;
}
.cards2::after{
    content: 'Congratulations for your Business';
    text-align: center;
    
    position: absolute;
    top: 0;
    /*left: 0;*/
    background:rgba(84, 226, 214, 0.637);;
    color:#fff;
    font-size: 33px;
    width: 240px;
    height: 160px;
    transform: rotateY(90deg);

}
.cards3{
    width: 90%;
    margin: 20px 20px;
}
.cards3::after{
    content: 'Congratulations for your Business';
    text-align: center;
    
    position: absolute;
    top: 0;
    /*left: 0;*/
    background:rgba(84, 226, 214, 0.637);;
    color:#fff;
    font-size: 33px;
    width: 240px;
    height: 160px;
    transform: rotateY(90deg);

}
.coll-md-4{
        width: 50%;
    float: left;
}

.col-sm-3
{
    flex:100%;
    max-width:100%;
}.image img {
    max-width: 30%;
}
.ban
{   height:60vh;
    padding-top:20%;
    margin-top:20%;
}
}
@media screen and (min-width: 768px){
.mycontainer8 {
    max-width: 854px;
}
.image img {
    max-width: 100%;
}
.carousel-inner {
    height: 374px;
    padding-top: 0%;
}
.ban
{   height:400px;
    padding-top:20%;
margin-top:0%;
}
}
@media screen and (max-width: 460px){
    .navbar {
    overflow: hidden;
    background-color:#8E343E;
    padding:0% 5%;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}.navbar1 {
    overflow: hidden;
    background-color: brown;
    /* padding: 0.5% 5%; */
    transition: 0.4s;
    position: relative;
    width: 100%;
    height: 52px;
    top: 0%;
    margin-top: -14px;
    z-index: 99;
    color: white;
    opacity: 1;
}
.navbar-light .navbar-nav
{
    color:white;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.navbar-light .navbar-nav .nav-link-active {
    color: rgba(0,0,0,.5);
}
.carousel-item
{
    height: 50vh;
    width:100%;
}
.w-100 {
    width: 100%!important;
    height: 60vh;
}
    
   
    .mycontainer1 {
    display: inline;
    
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    position: relative;
    left: -47%;
    vertical-align: middle;
    content: "";
    /* margin-left: 293px; */
    margin-right: 242px;
    background: no-repeat center center;
    background-size: 100% 100%;
}


.brandname h1 {
    color: #8E343E;
    text-transform: initial;
    font-weight: bold;
    text-align: center;
    font-size: 34px;
    margin-top: -58px;
    /* width: 61%; */
    /* margin-top: -115px; */
    margin-left: 114px;
}
.brandname h4 {
    color:transparent;
    margin-left: 14px;
    /* font-size: 27px; */
    font-weight: bold;
}
.logoid {
    /* height: 10px; */
    display: inline;
    z-index: 1;
    height: 67px;
    z-index: 1;
    margin-top: 21px;
    margin-left: -8px;
}
/*.brandname {
    height: 167px;
}*
.logoid {
 height: 10px; *
   display:none;
}*/
.brandname h1 {
    color: #8E343E;
    text-transform: initial;
    font-weight: bold;
    text-align: center;
    font-size: 34px;
    margin-top: -58px;
    margin-left: 114px;
}
.brandname h4 {
    display:none;
}
.navbar-light .navbar-nav
{
    color:white;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.navbar-light .navbar-nav .nav-link-active {
    color: rgba(0,0,0,.5);
}

.carousel-item
{
    height: 50vh;
    width:100%;
}
.w-100 {
    width: 100%!important;
    height: 60vh;
}
   
    .mycontainer1 {
    display: inline;
    
}
.carousel-inner {
    height: 501px;
    padding-top: 0%;
}
.row23{
    margin-left: 19px;
}
.ban
{   height:510px;
    background-image:url(gu1.jpg);
    background-size:cover;
    padding-top:40%;
    margin-top:0%;
}.btns
{
 margin-top: -106px;
    margin-left: 29px;
}
#id1 {
    height: 2318px;
}
.What-we-are
{
    height:68vh;
    width:100%;
    margin-top:24%;
}

.ocontent
{
    margin-top:-65px;
    border:1px solid gray;
    border-spacing:15px 0px;
    padding:80px 3% 1% 3%;
    border-radius:5px;
}
.ocontent
{
    margin-top:-65px;
    border:1px solid gray;
    border-spacing:15px 0px;
    padding:25% 10% 10% 6%;
    border-radius:5px;
}

.vision-content
{
    padding:0% 4%;
}
.best
{
    width:100%;
    text-align:center;
}
.our-vision {
    padding-top: 03%;
    padding-bottom: 3%;
    max-width: 98.9%;
    background: #f2f2f2;
    height: 100%;
}
.services1 {
    height: 71px;
    width: 22%;
    margin-left: 34%;
    margin-top: 9%;
    color: white;
    /* padding: 10%; */
    padding: 4% 5%;
    background: #8190A3;
}
.services {
    max-width: 100%;

    background: #F7F7F7;
    height: 2337px;
    padding-top: 06%;
}
.serv {
    width: 100%;
    height: 864px;
    padding-top: 6%;
    background: rgb(243, 242, 242);
    margin-top: -124px;
}
.card {
    background: #F7F7F7;
    margin-bottom: 44px;
}
.col-bb{
    display:none;
}
.row231 {
    margin-top: -18%;
    width: 96%;
    text-align: center;
    margin-left: 3%;
    display: none;
}
.benifits
{
    height:1172px;
    background-image:url(bg-ug2.jpg);
    background-size:cover;
    background-position:center;
    padding-top:02%;
    width:100%;

}
.lines
{
    width:346px;
    height:2px;
    
}

.col-b1
  {
      color:white;
      margin-top: 24%;
      
  }
.best
{
    width:100%;
    text-align:center;
}
.v1v5{
text-align: left; margin-left: 10%;padding-top: 4%;
}
.vision-content h4
{
    text-align:center;
    padding-left:10%;
        margin-left: -18%;
}
.coll-sm-12{
        width: 100%;
    float: left;
}
.videos {
    height: 87vh;
    margin-top: 111%;
    background: #4957BA;
    width: 98.1%;
}
.what-we-content
{
    height:30vh;
    margin-left:12%;
}
.container-coun
{
    width:52%;
}
.col-coun
{
    margin:10% 0%;
}
.foot {
    height: 30vh;
    width: 100%;
    background-color: #070707;
    text-align: center;
    padding-top: 22%;
}
#box{
    padding:14% 0%;
    background:red;
    width:200px;
    height:23vh;
    font-family:Helvetica
  }
  
  #box h1, span{
    color:#FFFFFF;
    font-weight:normal
        margin-right: 97%;

  }
  
  #box h1{
    font-size:1.4em;
    text-align:center;
    line-height:1.2;
        margin-right: 97%;

  }
  
  #box span{
    font-size:4.4em;
    text-align:center;
    display:block;
  }
  .video
  {
      height: 90vh;
      background-color: #4957BA;
      font-weight: 800;
      padding:3% 0%;
      font-size:19px;
      color:white;
  }
  .video1
  {
      padding-top:05%;
  }

  }
.fixed{
width: 100%;
height: 100vh;
background: url("img/0.jpg");
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
background-attachment: fixed;  
padding-bottom:10%
}

.bar{
    width:100%;
    max-width: 100%;
}
}
.bar h3 {
  font-size: 1.6em;
  font-weight: 50%;
  margin: 0;
  padding-top: 16%;
  text-transform: uppercase;
  color: orange;
}

.pr
{
    margin-top:10%;
}
}


