*
{
    padding:0%;
    margin: 0%;
    font-family: 'Roboto Condensed', sans-serif;
    scroll-behavior: smooth;
}
.brandname
{
height: 21vh;
}
.logoid{

    /* height: 10px; */
    margin: -2% 0% 0% 34%;
    z-index:-1;
}
.brandname h1
{
    color:#8E343E;
    text-transform:initial;
    font-weight: bold;
    text-align: center;
    font-size: 60px;

}
.w-100 {
    width: 100%!important;
    margin-top: 0px;
}

.menu-bar
{
background-color:non;
}

.navbar {
    overflow: hidden;
    background-color:#8E343E;
    padding:0.5% 5%;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0%;
    z-index: 99;
    color:white;
}
.nav-item
{
    margin: 0%;
}
.nav-link a
{
    padding: 0px 0px;
}
.navbar-nav{
    padding:0% 0%;
}
.menu-bar1
{
background-color:#4957BA;
}

.navbar1 {
    overflow: hidden;
    background-color:brown;
    padding:0.5% 5%;
    transition: 0.4s;
    position: relative;
    width: 100%;
    top: 0%;
    margin-top:94px;
    z-index: 99;
    color:white;
    opacity: 1;
}
.hide{
    opacity: 0;
}
.nav-link
{
    font-size: 19px;
    color:white;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
.nav1
{
display: block;
opacity: 0;
}
.navbar-light .navbar-nav
{
    color:white;
    padding:0% 24%;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 25px;
}
.navbar-light .navbar-nav .nav-link-active {
    color: rgba(0,0,0,.5);
}
.brand-image
{
height: 60px;
width:20%;
}
.social-icons{
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;

}
.iconsd{
background-color:#F1F1F1;

}
.navbar-nav
{
    text-align: right;
}
.navbar .navbar-toggler
{
    padding-right: 0;
    outline: none;
    border:none;
}
.dropdown:hover>.dropdown-menu {
    display: inline;
    overflow: visible;
    z-index: 1000;
    position: inherit;
    transform: uppercase;
}

/*-- header --*/
.web_header_left{
	float: right;
}
.web_header_left p{
	color:#999;
	line-height:1.8em;
}
.web_header_right{
	float:left;
}
.header {
    margin-top:05%;
    height: 45px;
    padding: 1em 0em;
    background:#FFD60E;
    line-height: 0.5;
}
.web_header_right ul li{
	display:inline-block;
	    color: #000;
}
.web_header_right ul li:last-child{
	margin-left:2em;
}
.web_header_right ul li i{
	    color: #000;
	padding-right:1em;
}
.web_header_right ul li a{
		    color: #000;
	text-decoration:none;
	font-size: 22px;
}
.web_header_right ul li a:hover{
	color:#fa3d43;
}
.web_header_left ul li {
    display: inline-block;
    list-style: none;
    margin-right: 1em;
}
.web_header_left ul li a {
      color: #000;
    padding: 0.5em 1em;
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.web_header_left i {
    color: #000;
}
.social_list_w3ls {
    position: absolute;
    bottom: -126px;
    left: 16px;
}
.social_list_w3ls i {
    width: 0;
    height: 0;
    margin: 0;
}
.social_list_w3ls a {
    display: inline-block;
    margin-right:36px;
    color: #fff;
}
.social_list_w3ls a:hover{
	color:#00acee;
}
.social_list_w3ls span {
    font-size: 1em;
}
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }
  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }
  
.content_service h1
{
color: #8E343E;
font-size: 40px;
text-align: left;
font-weight: 900;
}

.fixed h2
{   display:inline;
    text-align: center;
    color: white;
    padding-top: 27px;    
}
.foot
{
height: 30vh;
width:100%;
background-color: #070707;
text-align:center;

}
.foot h2{
    opacity: 0.3;
    color:white;
}
.foot h2:hover{
    color: white;
    opacity: 0.9;
}
.footer
{
    background-color: #000;
    color:white;
    padding:2px 0px;
    text-align: center;
}


.carousel-item
{
    height: 100vh;
    width:100%;
}
.image img{
    max-width: 100%;
}
.What-we-are {
    height: 81vh;
    width: 100%;
    color: white;
    background: brown;
}
.coll-4{
        width: 25%;
    float: left;
}

/*circel*/



/*////////////*/

@media(max-width: 1200px){

.cards{
    width: 90%;
    margin: 20px 30px;
}
.cards1{
    width: 90%;
    margin: 20px 30px;
}
.cards2{
    width: 90%;
    margin: 20px 30px;
}
.cards3{
    width: 90%;
    margin: 20px 30px;
}
}


@media(max-width: 992px){
     .mycontainer8
    {
        max-width:889;
    }
    .banner h1{
        font-size: 23px;
    }
    .price{
    padding-left:4%;    
    }
    .iconsd
{
background-color:#F1F1F1;
    /*padding: 16px 0;*/
        text-align: center;
}
.coll-lar{
        width: 25%;
    float: left;
}    
.cards{
    width: 100%;
    margin: 20px 30px;
}
.cards1{
    width: 100%;
    margin: 20px 30px;
}
.cards2{
    width: 100%;
    margin: 20px 30px;
}
.cards3{
    width: 100%;
    margin: 20px 30px;
}
.social-icons{
    padding: 10px 0;

}
}
.fixed
{
    max-height:100vh;
}

@media(max-width: 767px){
   
    .banner h1{
        font-size: 23px;
    }
    .iconsd
{
background-color:#F1F1F1;
    /*padding: 16px 0;*/
        text-align: center;
}
.social-icons{
    padding: 10px 0;

}
.cards{
    width: 90%;
    margin: 20px 20px;
}
.cards::after{
    content: 'Congratulations for your Business';
    text-align: center;
    
    position: absolute;
    top: 0;
    /*left: 0;*/
    background:rgba(84, 226, 214, 0.637);;
    color:#fff;
    font-size: 33px;
    width: 240px;
    height: 160px;
    transform: rotateY(90deg);

}
.cards1{
    width: 90%;
    margin: 20px 20px;
}
.cards1::after{
    content: 'Congratulations for your Business';
    text-align: center;
    
    position: absolute;
    top: 0;
    /*left: 0;*/
    background:rgba(84, 226, 214, 0.637);;
    color:#fff;
    font-size: 33px;
    width: 240px;
    height: 160px;
    transform: rotateY(90deg);

}.cards2{
    width: 90%;
    margin: 20px 20px;
}
.cards2::after{
    content: 'Congratulations for your Business';
    text-align: center;
    
    position: absolute;
    top: 0;
    /*left: 0;*/
    background:rgba(84, 226, 214, 0.637);;
    color:#fff;
    font-size: 33px;
    width: 240px;
    height: 160px;
    transform: rotateY(90deg);

}
.cards3{
    width: 90%;
    margin: 20px 20px;
}
.cards3::after{
    content: 'Congratulations for your Business';
    text-align: center;
    
    position: absolute;
    top: 0;
    /*left: 0;*/
    background:rgba(84, 226, 214, 0.637);;
    color:#fff;
    font-size: 33px;
    width: 240px;
    height: 160px;
    transform: rotateY(90deg);

}
.coll-md-4{
        width: 50%;
    float: left;
}

.col-sm-3
{
    flex:100%;
    max-width:100%;
}.image img {
    max-width: 30%;
}
}
@media screen and (min-width: 768px){
.mycontainer8 {
    max-width: 854px;
}
.image img {
    max-width: 100%;
}
}
@media screen and (max-width: 460px){
  .navbar {
    overflow: hidden;
    background-color:brown;
    padding:0% 5%;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}
.navbar-light .navbar-nav
{
    color:white;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.navbar-light .navbar-nav .nav-link-active {
    color: rgba(0,0,0,.5);
}
.carousel-item
{
    height: 50vh;
    width:100%;
}
.w-100 {
    width: 100%!important;
    height: 60vh;
}
  .logoid{
      display: none;
  } 
    .mycontainer1 {
    display: inline;
    
}
.brand-image
{
    margin-left:28%;
    width:40%;
}
.image:hover,.image h4:hover
{  
    border-radius: 16px;
color:black;
background-color:none;
    transition: 800ms linear;
    box-shadow: 05px 05px 2px gray;

}
.best
{
    width:100%;
    text-align:center;
}
.services {
    max-width: 98.9%;
    margin-top: -22px;
    background: #F7F7F7;
    height: 105vh;
    padding-top: 06%;
}
.services_items
{
    margin-top:-130px;
}
.image {
    height: 30vh;
    /* padding-bottom: 31%; */
    margin-bottom:-80px;
}
.What-we-are {
    height: 81vh;
    width: 100%;
    color: white;
    background: #4957BA;
}.images {
    margin-top: -9%;
    height:50%;
}
.images {
    margin-top: 12%;
    height: 50vh;
    margin-left: -10px;
    width: 105%;
}.awards {
    margin-top: 23px;
}
.photobanner img {
    margin: 0px 10px;
    box-shadow: 2px 2px 8px #8a8a8a;
    width: 61%;
    height: 37vh;
}
.coll-sm-12{
        width: 100%;
    float: left;
}
.counting
{
    height: 126vh;
    background: #F1F1F1;

}
.container-coun
{
    width:52%;
}
.col-coun
{
    margin:10% 0%;
}
.foot {
    height: 30vh;
    width: 100%;
    background-color: #070707;
    text-align: center;
    padding-top: 22%;
}
#box{
    padding:14% 0%;
    background:red;
    width:200px;
    height:23vh;
    font-family:Helvetica
  }
  
  #box h1, span{
    color:#FFFFFF;
    font-weight:normal
  }
  
  #box h1{
    font-size:1.4em;
    text-align:center;
    line-height:1.2;
  }
  
  #box span{
    font-size:4.4em;
    text-align:center;
    display:block;
  }
  .video
  {
      height: 37vh;
      background-color: #4957BA;
      font-weight: 800;
      padding:3% 0%;
      font-size:19px;
      color:white;
  }
  .video1
  {
      padding-top:05%;
  }
.fixed{
width: 100%;
height: 100vh;
background: url("img/0.jpg");
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
background-attachment: fixed;  
padding-bottom:10%
}

.bar{
    width:100%;
    max-width: 100%;
}
}
.bar h3 {
  font-size: 1.6em;
  font-weight: 50%;
  margin: 0;
  padding-top: 16%;
  text-transform: uppercase;
  color: orange;
}

.pr
{
    margin-top:10%;
}
}

