*
{
    padding:0%;
    margin: 0%;
    font-family: 'Roboto Condensed', sans-serif;
    scroll-behavior: smooth;
}
.brandname {
    height: 127px;
}
.logoid {
    /* height: 10px; */
    display: inline;
    z-index: 1;
    height: 67px;
    z-index: 1;
    margin-left: 36px;
}
.logoid:hover{
    opacity:0.7;
}
brandname h1 {
    position: absolute;
    top: 95px;
    right: 50%;
    transform: translate(50%,-50%);
    text-transform: uppercase;
    font-family: verdana;
    font-size: 45px;
    font-weight: 700;
    color: #f1ebec;
    text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191, 1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191, 1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191, 1px 10px 1px #919191, 1px 18px 6px rgba(16,16,16,0.4), 1px 22px 10px rgba(16,16,16,0.2), 1px 25px 35px rgba(16,16,16,0.2), 1px 30px 60px rgba(16,16,16,0.4);
    text-transform: initial;
    font-weight: bold;
    /* text-align: center; */
    font-size: 40px;
    margin-top: -58px;
    /* width: 61%; */
    padding-left: 44px;
    display: contents;
    /* margin-top: -115px; */
    /* margin-left: 25px; */
}
.brandname h1 {
        position: absolute;
    top: 94px;
    display:content;
    right: 50%;
    transform: translate(50%,-50%);
    text-transform: uppercase;
    font-family: verdana;
    font-size: 45px;
    font-weight: 700;
    color: #f1ebec;
    text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 
    1px 3px 1px #919191, 1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191, 
    1px 10px 1px #919191, 1px 18px 6px rgba(16,16,16,0.4), 1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2), 1px 30px 60px rgba(16,16,16,0.4);
    text-transform: initial;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
        margin-top: -58px;
    /* width: 61%; */
    /* margin-top: -115px; */
    margin-left: -20px;
}
.brandname h4
{
color: #8E343E;
    margin-left: 14px;
    /* font-size: 27px; */
    font-weight: bold;
}

.w-100 {
    width: 100%!important;
    margin-top: 0px;
}

.menu-bar
{
background-color:non;
}

.navbar {
    overflow: hidden;
    background-color:#8E343E;
    padding:0.5% 5%;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0%;
    z-index: 99;
    color:white;
}
.nav-item
{
    margin: -1px 13px;
}
.nav-link a
{
    padding: 0px 0px;
}
 .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.7);
}
.nav link a:hover
{
    color:black;
}
.navbar-nav{
    padding:0% 0%;
}
.menu-bar1
{
background-color:#4957BA;
}
.navbar1 {
    overflow: hidden;
    background-color: brown;
    /* padding: 0.5% 5%; */
    transition: 0.4s;
    position: relative;
    width: 100%;
    height: 52px;
    top: 0%;
    margin-top: -33px;
    z-index: 99;
    color: white;
    opacity: 1;
}
.hide{
    opacity: 0;
}
.nav-link
{
    font-size: 19px;
    color:white;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
.nav1
{
display: block;
opacity: 0;
}
.navbar-light .navbar-nav {
    color: white;
    padding: 0% 8%;
    margin-left: 120px;
    margin-top: -11px;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 25px;
}
.navbar-light .navbar-nav .nav-link-active {
    color: black;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: black;
}
.brand-image
{
height: 60px;
width:20%;
}
.social-icons{
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;

}
.iconsd{
background-color:#F1F1F1;

}
.navbar-nav
{
    text-align: right;
}
.navbar .navbar-toggler
{
    padding-right: 0;
    outline: none;
    border:none;
}
.navbar .navbar-toggler:hover
{
    height:300px;
}
.dropdown:hover>.dropdown-menu {
    display: inline;
    overflow: visible;
    z-index: 1000;
    position: inherit;
    transform: uppercase;
}

/* Settings - feel free to play with these */
$overlay_opacity: 0.3; // 0-1
$overlay_pattern: 'https://d3k5xyayaartr5.cloudfront.net/_assets/pattern-overlays/patterns/black-medium-checks.png'; // Grab the url of a png from here - http://html5backgroundvideos.com/pattern-overlays/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

/**
 * This part should be set separately for each video
 * if there are multiple videos in your site.
 * I.e. '.demo-video-wrapper' is the name of this particular video
 */
.demo-video-wrapper {
	background-image: url(https://d3k5xyayaartr5.cloudfront.net/_assets/home-video/beach-waves-loop.jpg);
}

/* Video overlay and content */
.video-overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	pointer-events: none; /* Allows right click menu on the video */
	background: url($overlay_pattern) left top repeat;
  opacity: $overlay_opacity;
}
.video-hero--content {
	position: relative;
	text-align: center;
	color: #FFF;
  margin: 150px 0;
	text-shadow: 0 0 5px rgba(0,0,0,0.4);
}
.video-hero--content h2 {
	font-size: 34px;
	margin: 0 0 10px;
}
.video-hero--content p {
	font-size: 20px;
	margin: 0;
}

/* Other stuff */
body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: #666;
}
a {
	text-decoration: none;
	color: #a46497;
}
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.page-width {
	width: 92%;
	max-width: 960px;
	margin: 0 auto;
	    height: 191px;

}
#header3 {
	background: #2c2d33;
	padding: 2em 0;
}
#header a {
    color: #FFF;
    padding: 5px 24px;
    margin-left: -27px; 
}
#header a:hover{
   color:black;
}
.title {
	display: block;
	font-weight: bold;
	font-size: 18px;
}
.subtitle {
	display: block;
	font-weight: normal;
	font-size: 15px;
	color: #959699;
}
a:hover .subtitle {
	color: #FFF;
}
#site-title {
	float: left;
	margin: 0;
}
#content {
	padding: 40px 0;
}


/* CSS from jQuery Background Video plugin */
/**
 * Set default positioning as a fallback for if the plugin fails
 */
.jquery-background-video-wrapper {
	position: relative;
	overflow: hidden;
	height:452px;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	    	background-size: cover;
}
.jquery-background-video {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	top: 50%;
	left: 50%;
	-o-object-fit: contain;
	   object-fit: contain;
	-webkit-transform: translate(-50%,-50%);
	   -moz-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	     -o-transform: translate(-50%,-50%);
	    	transform: translate(-50%,-50%);
}
/**
 * Fade in videos
 * Note the .js class - so non js users still
 * see the video
 */
.js .jquery-background-video {
	opacity: 0;
	-webkit-transition: opacity 300ms linear;
			transition: opacity 300ms linear;
}
.js .jquery-background-video.is-visible {
	opacity: 1;
}

/**
 * Pause/play button
 */ 
.jquery-background-video-pauseplay {
	position: absolute;
	background: transparent;
	border: none;
	box-shadow: none;
	width: 20px;
	height: 20px;
	top: 15px;
	right: 15px;
	padding: 0;
	cursor: pointer;
	outline: none !important;
}
.jquery-background-video-pauseplay span {
	display: none;
}
.jquery-background-video-pauseplay:after,
.jquery-background-video-pauseplay:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	-webkit-transition: all .3s ease;
			transition: all .3s ease;
}
.jquery-background-video-pauseplay.play:before {
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 15px solid #FFF;
}
.jquery-background-video-pauseplay.pause:before,
.jquery-background-video-pauseplay.pause:after {
	border-top: 10px solid #FFF;
	border-bottom: 10px solid #FFF;
	border-left: 5px solid #FFF;
}
.jquery-background-video-pauseplay.pause:after {
	left: 10px;
}
.services1
{
    display:none;
}
.services
{
   max-width: 100%;
   margin-top:0%;
   background:#F7F7F7;
   height: 600px;
   padding-top:06%;
}
.services h1
{
    color:#a52a2a;
    text-align: center;
    font-weight: 800;
    text-transform: capitalize;
}
.services1
{
    height: 100px;
    width:100%;
    margin-left:33%;
    margin-top: 40%;
     
}

.image h4
{
 color:  #a52a2a;
 font-weight: 800;
 
}
.cursor {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
    z-index: 50;
}
.image{
    height: 30vh;
    

    
}/*
.image:hover,.image h4:hover
{   color:white;
    border-radius: 16px;
    transition: 800ms linear;
    width:150px;
    box-shadow: 05px 05px 2px gray;

}
*/
.images{
    margin-top:0%;
}
.mycol{
margin-top:03%;
}
.mycol p{
    font-size:22px;

}

.awards
{
    margin-top: 35px;
    
}
.awards h1
{
    font-size: 40px;
    font-weight: 900;
    margin-top: 15px;
    text-align: center;
}
.co
{    text-align: center;
     border: 1px solid black;
    height:01vh;
    width: 10%;
    margin-left:45%;
    overflow: hidden;
}
.co1
{   height: 01vh;
    width:30%;
    background:brown;
}
.co2
{

}
.wrapper {
	width: 100%;
	overflow: hidden;
}
.photobanner {
	position: relative;
	margin-bottom: 30px;
	display: flex;
    width: 100%;
    margin-top:05%;
}

.photobanner img {
  margin: 0px 10px;
  box-shadow: 2px 2px 8px #8a8a8a;
  width:20%;
}

.photobanner {
  animation: bannermove 30s linear infinite alternate-reverse;
}

@keyframes bannermove {
  from {
    left: 20px;
  }
  to {
    left: -2700px;
  }
}

.counting
{
    height: 315px;
    background: #F1F1F1;

}
#box{
    padding:1em;
    background:red;
    width:200px;
    height:192px;
    font-family:Helvetica
  }
  
  #box h1, span{
    color:#FFFFFF;
    font-weight:normal
  }
  
  #box h1{
    font-size:1.4em;
    text-align:center;
    line-height:1.2;
  }
  
  #box span{
    font-size:4.4em;
    text-align:center;
    display:block;
  }
  .video
  {
      height: 284px;
      background-image: linear-gradient(to right, red,#A52A2A);
      font-weight: 800;
      padding:3% 0%;
      font-size:19px;
      color:white;
      overflow: hidden;
  }
  .video h1
   {
        padding-top: 0%;
        text-align: center;
        text-transform: capitalize;
        font-weight: 700;
        color: white;
        font-size: 62px;
    }
    .cos {
        
    
        transition: transform .2s; /* Animation */
        overflow: visible;
      }
      
      .cos:hover{
        transform: scale(1.5);
      }
  .carousel22 {
    background: #EEE;}
    * { box-sizing: border-box; }

  
   .carousel22 img {
    display: block;
    height: 200px;
  }
  
  @media screen and ( min-width: 768px ) {
    .carousel22 img {
      height: 400px;
    }
  }
.division2
{
    height: 50vh;
    background-color: #2697C1;
    padding-top:10%;
    margin-top: 13%;
}
.fixed
{   height: 60vh;
    background-position: center;
    background-size:cover;
    background-image:url("img.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding:20px;
    z-index: 1;
}
.fix{
    background-color: rgba(250, 210, 11, 0.671);
    z-index: -1;
    
}
.fixed h1
{
    display:inline;
    color:white;
    border:9px solid #FFD60E;
    background-color: rgba(red, green, blue, alpha);
    font-size: 52px;
}
.fixed h2
{   display:inline;
    text-align: center;
    color: white;
    padding-top: 27px;    
}
.foot
{
height: 217px;
width:100%;
background-color: #070707;
text-align:center;

}
.foot h2{
    opacity: 0.3;
    color:white;
}
.foot h2:hover{
    color: white;
    opacity: 0.9;
}
.footer
{
    background-color: #000;
    color:white;
    padding:2px 0px;
    text-align: center;
}
.best
{
    margin-top:0px;
}

.carousel-item
{
    height: 100vh;
    width:100%;
}
.image img{
    max-width: 100%;
}
.What-we-are {
    height: 81vh;
    width: 100%;
    color: white;
    background: brown;
}
.coll-4{
        width: 25%;
    float: left;
}

/*circel*/



/*////////////*/

@media(max-width: 1200px){

.cards{
    width: 90%;
    margin: 20px 30px;
}
.cards1{
    width: 90%;
    margin: 20px 30px;
}
.cards2{
    width: 90%;
    margin: 20px 30px;
}
.cards3{
    width: 90%;
    margin: 20px 30px;
}
}


@media(max-width: 992px){
     .mycontainer8
    {
        max-width:889;
    }
    .banner h1{
        font-size: 23px;
    }
    .price{
    padding-left:4%;    
    }
    .iconsd
{
background-color:#F1F1F1;
    /*padding: 16px 0;*/
        text-align: center;
}
.coll-lar{
        width: 25%;
    float: left;
}    
.cards{
    width: 100%;
    margin: 20px 30px;
}
.cards1{
    width: 100%;
    margin: 20px 30px;
}
.cards2{
    width: 100%;
    margin: 20px 30px;
}
.cards3{
    width: 100%;
    margin: 20px 30px;
}
.social-icons{
    padding: 10px 0;

}
}
.fixed
{
    max-height:100vh;
}

@media(max-width: 767px){
   
    .banner h1{
        font-size: 23px;
    }
    .iconsd
{
background-color:#F1F1F1;
    /*padding: 16px 0;*/
        text-align: center;
}
.social-icons{
    padding: 10px 0;

}
.cards{
    width: 90%;
    margin: 20px 20px;
}
.cards::after{
    content: 'Congratulations for your Business';
    text-align: center;
    
    position: absolute;
    top: 0;
    /*left: 0;*/
    background:rgba(84, 226, 214, 0.637);;
    color:#fff;
    font-size: 33px;
    width: 240px;
    height: 160px;
    transform: rotateY(90deg);

}
.cards1{
    width: 90%;
    margin: 20px 20px;
}
.cards1::after{
    content: 'Congratulations for your Business';
    text-align: center;
    
    position: absolute;
    top: 0;
    /*left: 0;*/
    background:rgba(84, 226, 214, 0.637);;
    color:#fff;
    font-size: 33px;
    width: 240px;
    height: 160px;
    transform: rotateY(90deg);

}.cards2{
    width: 90%;
    margin: 20px 20px;
}
.cards2::after{
    content: 'Congratulations for your Business';
    text-align: center;
    
    position: absolute;
    top: 0;
    /*left: 0;*/
    background:rgba(84, 226, 214, 0.637);;
    color:#fff;
    font-size: 33px;
    width: 240px;
    height: 160px;
    transform: rotateY(90deg);

}
.cards3{
    width: 90%;
    margin: 20px 20px;
}
.cards3::after{
    content: 'Congratulations for your Business';
    text-align: center;
    
    position: absolute;
    top: 0;
    /*left: 0;*/
    background:rgba(84, 226, 214, 0.637);;
    color:#fff;
    font-size: 33px;
    width: 240px;
    height: 160px;
    transform: rotateY(90deg);

}
.coll-md-4{
        width: 50%;
    float: left;
}

.col-sm-3
{
    flex:100%;
    max-width:100%;
}.image img {
    max-width: 30%;
}
}
@media screen and (min-width: 768px){
.mycontainer8 {
    max-width: 854px;
}
.image img {
    max-width: 100%;
}
}
@media screen and (max-width: 460px){
  .navbar {
    overflow: hidden;
    background-color:#60232A;
    padding:0% 5%;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    position: relative;
    left: -47%;
    margin-right: 253px;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}
.brandname h1 {
    color: #8E343E;
    text-transform: initial;
    font-weight: bold;
    text-align: center;
    font-size: 34px;
    margin-top: -58px;
    /* width: 61%; */
    /* margin-top: -115px; */
    margin-left: 114px;
}
.brandname h4 {
    color:transparent;
    margin-left: 14px;
    /* font-size: 27px; */
    font-weight: bold;
}
.logoid {
    /* height: 10px; */
    display: inline;
    z-index: 1;
    height: 67px;
    z-index: 1;
    margin-top: 21px;
    margin-left: -8px;
}
.navbar1 {
    overflow: hidden;
    background-color: brown;
    padding: 0.5% 5%;
    transition: 0.4s;
    position: relative;
    width: 100%;
    top: 0%;
    height:auto;
    margin-top: -14px;
    z-index: 99;
    color: white;
    opacity: 1;
}
.page-width {
    width: 92%;
    max-width: 960px;
    margin: 0 auto;
    height: 401px;
}
/*.brandname {
    height: 167px;
}*
.logoid {
 height: 10px; *
   display:none;
}
/*.brandname h1 {
    color: #8E343E;
    text-transform: initial;
    font-weight: bold;
    text-align: center;
    font-size: 36px;
    margin-top: 23px;
    margin-left: 0px;
}
.brandname h4 {
    display:none;
}*/
.navbar-light .navbar-nav
{
    color:white;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.navbar-light .navbar-nav .nav-link-active {
    color: rgba(0,0,0,.5);
}
.counting {

    background: #F1F1F1;
    height: 950px;
}
.container-coun
{margin-left:12px;
}
.best
{
    width:100%;
    text-align:center;
    margin-top:124px;
}
.services {
    max-width: 98.9%;
    margin-top: -22px;
    background: #F7F7F7;
    height: 105vh;
    padding-top: 06%;
}
.services_items
{
    margin-top:-130px;
}
.image {
    height: 30vh;
    /* padding-bottom: 31%; */
    margin-bottom:-80px;
}
.What-we-are {
    height: 81vh;
    width: 100%;
    color: white;
    background: #4957BA;
}.images {
    margin-top: -9%;
    height:50%;
}
.images {
    margin-top: 12%;
    height: 50vh;
    margin-left: -10px;
    width: 105%;
}.awards {
    margin-top: 23px;
}
.photobanner img {
    margin: 0px 10px;
    box-shadow: 2px 2px 8px #8a8a8a;
    width: 61%;
    height: 329PX;
}
.coll-sm-12{
        width: 100%;
    float: left;
}
.counting
{
    height: 1328px;
    background: #F1F1F1;

}
.container-coun
{
    width:52%;
}
.col-coun
{
    margin:10% 0%;
}
.foot {
    height: 30vh;
    width: 100%;
    background-color: #070707;
    text-align: center;
    padding-top: 22%;
}
#box
{
    padding: 14% 0%;
    background: red;
    width: 200px;
    height: 224px;
    margin-left: 85px;
    font-family: Helvetica;
}

  #box h1, span{
    color:#FFFFFF;
    font-weight:normal
  }
  
  #box h1{
    font-size:1.4em;
    text-align:center;
    line-height:1.2;
  }
  
  #box span{
    font-size:4.4em;
    text-align:center;
    display:block;
  }
  .video
  {
      height: 300px;
      background-color: #4957BA;
      font-weight: 800;
      padding:3% 0%;
      font-size:19px;
      color:white;
  }
  .video1
  {
      padding-top:05%;
  }
.fixed{
width: 100%;
height: 100vh;
background: url("img/0.jpg");
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
background-attachment: fixed;  
padding-bottom:10%
}

.bar{
    width:100%;
    max-width: 100%;
}
}
.bar h3 {
  font-size: 1.6em;
  font-weight: 50%;
  margin: 0;
  padding-top: 16%;
  text-transform: uppercase;
  color: orange;
}

.pr
{
    margin-top:10%;
}
}




