*
{
    padding:0%;
    margin: 0%;
    font-family: 'Roboto Condensed', sans-serif;
    scroll-behavior: smooth;
}
.brandname {
    height: 127px;
}
.logoid {
    /* height: 10px; */
    display: inline;
    z-index: 1;
    height: 67px;
    z-index: 1;
    margin-left: 36px;
}
.logoid:hover
{
    opacity:0.7;
}
.brandname h1 {
    color: #8E343E;
    text-transform: initial;
    font-weight: bold;
    text-align: center;
    font-size: 37px;
        margin-top: -58px;
    /* width: 61%; */
    /* margin-top: -115px; */
    margin-left: -20px;
}
.brandname h4
{
color: #8E343E;
    margin-left: 14px;
    /* font-size: 27px; */
    font-weight: bold;
}
.w-100 {
    width: 100%!important;
    margin-top: 0px;
}

.menu-bar
{
background-color:non;
}

.navbar {
    overflow: hidden;
    background-color:#8E343E;
    padding:0.5% 5%;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0%;
    z-index: 99;
    color:white;
}
.nav-item
{
    margin: -1px 13px;
}
.nav-link a
{
    padding: 0px 0px;
}
 .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.7);
}
.nav link a:hover
{
    color:black;
}
.navbar-nav{
    padding:0% 0%;
}
.menu-bar1
{
background-color:#4957BA;
}
.navbar1 {
    overflow: hidden;
    background-color: brown;
    /* padding: 0.5% 5%; */
    transition: 0.4s;
    position: relative;
    width: 100%;
    height: 52px;
    top: 0%;
    margin-top: -33px;
    z-index: 99;
    color: white;
    opacity: 1;
}
.hide{
    opacity: 0;
}
.nav-link
{
    font-size: 19px;
    color:white;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
.nav1
{
display: block;
opacity: 0;
}
.navbar-light .navbar-nav {
    color: white;
    padding: 0% 8%;
    margin-left: 120px;
    margin-top: -11px;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 25px;
}
.navbar-light .navbar-nav .nav-link-active {
    color: black;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: black;
}
.brand-image
{
height: 60px;
width:20%;
}
.social-icons{
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;

}
.iconsd{
background-color:#F1F1F1;

}
.navbar-nav
{
    text-align: right;
}
.navbar .navbar-toggler
{
    padding-right: 0;
    outline: none;
    border:none;
}
.dropdown:hover>.dropdown-menu {
    display: inline;
    overflow: visible;
    z-index: 1000;
    position: inherit;
    transform: uppercase;
}
.ban
{   height:360px;
background:black;
    color:white;
    background-image:url(gu1.jpg);
    background-size:cover;
    padding-top:20%;

}
/*-- header --*/
.web_header_left{
	float: right;
}
.web_header_left p{
	color:#999;
	line-height:1.8em;
}
.web_header_right{
	float:left;
}
.header {
    margin-top:05%;
    height: 45px;
    padding: 1em 0em;
    background:#FFD60E;
    line-height: 0.5;
}
.web_header_right ul li{
	display:inline-block;
	    color: #000;
}
.web_header_right ul li:last-child{
	margin-left:2em;
}
.web_header_right ul li i{
	    color: #000;
	padding-right:1em;
}
.web_header_right ul li a{
		    color: #000;
	text-decoration:none;
	font-size: 22px;
}
.web_header_right ul li a:hover{
	color:#fa3d43;
}
.web_header_left ul li {
    display: inline-block;
    list-style: none;
    margin-right: 1em;
}
.web_header_left ul li a {
      color: #000;
    padding: 0.5em 1em;
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.web_header_left i {
    color: #000;
}
.social_list_w3ls {
    position: absolute;
    bottom: -126px;
    left: 16px;
}
.social_list_w3ls i {
    width: 0;
    height: 0;
    margin: 0;
}
.social_list_w3ls a {
    display: inline-block;
    margin-right:36px;
    color: #fff;
}
.social_list_w3ls a:hover{
	color:#00acee;
}
.social_list_w3ls span {
    font-size: 1em;
}





.ban
{   height:60vh;
    color:white;
    background:black;
    background-image:url(gu1.jpg);
    background-size:cover;
    padding-top:20%;

}
.ban h1
{   text-align:center;
    font-weight:900;
    font-size:46px;margin-top:-8%;
     text-align:center;
    
}
.co
{    text-align: center;
     border: 1px solid black;
    height:01vh;
    width: 10%;
    
    overflow: hidden;
}
.co1
{   height: 01vh;
    width:30%;
    background: #4957BA;
}
.co1o
{   height: 01vh;
    width:30%;
    background:white;
}
.btn
{
    background-color:#FFD60E;
    transition: 0.72ms;
    float: left;
}
.btn:hover
{    color:#FFD60E;
    background-color:transparent;
    border-color: blue;
}
.header-image
{
    height: 10%;
    text-align: center;
}
.header-images
{
    width:20%;
}
.honest1
{    width:90%;
    margin-top: -31%;
    height: 202%;
}
.callus
{  margin-top:0%;
    height: 361px;
    width:98.9%;
    color:black;
    font-weight: 800;
    box-shadow: 5% 5% 8% 8% gray;
    background: rgb(248, 248, 248);
}
.callus h1,
{   padding-top:07%;
    color :black;
    font-weight: 700;
}
.callus-p{
    font-size: navy;
}
.callus1{
    background-repeat: no-repeat;
    height: 20vh;
}
.contact-concept
{
    color: white;
    font-weight: 800;
}
.callus1 h3
{
    color:white;
    margin-top: 0%;
    margin-left: 14%;
}
.callus2
{   height: 30vh;
    background: #1BA8F0;
    margin-left:-06%;
}
.contact-col
{
    background:#A52A2A;

}
.our-loca
{
    height:70vh;
    width: 100%;
    background: white; 
    padding-top:10%;
}
.our-advantages
{
    height:130vh;
    width: 100%;
    background: white; 
    padding-top:04%;
}
.our-loca
{
    height:70vh;
    width: 100%;
    background: white; 
    padding-top:10%;
}
.our-advantages
{
    height:130vh;
    width: 100%;
    background: white; 
    padding-top:04%;
}
.card{
    height: 120%;
    box-shadow: 10px 10px 5px grey;
}
.card1{
    height: 85%;
    box-shadow: 10px 10px 5px grey;
    overflow: hidden;
}/*
.cards::after
{
    position: absolute;
    top:0%;
    left: 0%;
    width: 50%;
    background-color: black;
    cursor: copy;
}
.card:hover{
    box-shadow:14px 14px 8px grey;
    transition: 800ms ;
    width: 100%;
    
}*/
.card-lines
{
    color: #18629B; 
}
.container1 {

    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.cont
    {
        height: 114vh;
        width: 100%;
        background-image: url("New Project.jpg");
        background-attachment: fixed;  
    }
   
.cont1
{   height:70vh;
    background-color:#296DAB;

}
.cout-h1
{
        color:#4957BA;
        text-align: center;
font-weight:bold;
        padding-top: 8%;
}.map-mobile
{
    padding-left: 0px;
    width: 118%;
}
/*.img2
{
    height:51%;
     width:100%;
     transition: transform .5s ease;

}
.img2:hover{
    transform: scale(1.5);

}*/
.map
{
    height: 70vh;
}input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  
  
  .col-25 {
    float: left;
    width: 11%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #FFD60E;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid #FFD60E;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: transparent;
    color:#FFD60E;
    border: 2px solid #FFD60E;


  }
  
  .div1 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
.fixed
{
    height: 60vh;
    width: 100%;
    background-color:  #00004d;
    opacity: 1;
    background-image: url("");
    background-attachment: fixed;
}
.guard 
{
    padding-top: 06%;
    color :white;
}
.mycontainer
{
    max-width: 1200px;
    
    margin:0 auto;
    text-align: center;
 
}
.fixed2
{
    height: 80vh;
    width: 100%;
    background-color:rgba(15, 15, 15, 0.651) ;
    opacity: 0.7;
    background-image: url("s.jpg");
    background-attachment: fixed;  
}

.contactf
{
    border:3px solid #FFD60E;
    padding:20px;

    padding:0% 20%;
    background: #070120a2;

}
.contactf1
{
    text-align: center;
    width:50%;
    padding: 35% 0%;
}
.coll{
    color:white;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=submit] {
    width: 14%;
    background-color: #FFD60E;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    margin-left: 777px;
    float: right;
    margin-top: 24px;
    border-radius: 4px;
    cursor: pointer;
} 
  input[type=submit]:hover {
    background-color: transparent;
  }
  .section-ptb {
    padding: 120px 0;
}
.repair-service-form{
    width:100%;
    background: #ccc;
}


    .map {
        background-size: cover;
        /* max-width: 115%; */
        margin-left: 1%;
        /* margin-right: 17px; */
        margin-left: 0px;
        width: 100%;
    }
.foot
{
height: 30vh;
width:100%;
background-color: #070707;
text-align:center;
}
.foot h2{
    opacity: 0.3;
    color:white;
}
.foot h2:hover{
    color: white;
    opacity: 0.9;
}
.footer
{
    background-color: #000;
    color:white;
    padding:2px 0px;
    text-align: center;
} 

.testimonials:after {
    position: absolute;
    top: -0 !important;
    left: 0;
    content: " ";
    background: url(img/testimonial.bg-top.png);
    background-size: 100% 100px;
    width: 100%;
    height: 100px;
    float: left;
    z-index: 99;
}

.testimonials {
    min-height: 375px;
    position: relative;
    background: url(https://i.ibb.co/PTJDkgb/testimonials.jpg);
    padding-top: 50px;
    padding-bottom: 50px;
    background-position: center;
        background-size: cover;
}
#testimonial4 .carousel-inner:hover{
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#testimonial4 .carousel-inner:active{
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#testimonial4 .carousel-inner .item{
  overflow: hidden;
}

.testimonial4_indicators .carousel-indicators{
  left: 0;
  margin: 0;
  width: 100%;
  font-size: 0;
  height: 20px;
  bottom: 15px;
  padding: 0 5px;
  cursor: e-resize;
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}
.testimonial4_indicators .carousel-indicators li{
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  text-indent: 0;
  margin: 2px 3px;
  cursor: pointer;
  display: inline-block;
  background: #ffffff;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators .active{
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  margin: 2px 3px;
  background-color: #9dd3af;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar{
  height: 3px;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar-thumb{
  background: #eeeeee;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.testimonial4_control_button .carousel-control{
  top: 175px;
  opacity: 1;
  width: 40px;
  bottom: auto;
  height: 40px;
  font-size: 10px;
  cursor: pointer;
  font-weight: 700;
  overflow: hidden;
  line-height: 38px;
  text-shadow: none;
  text-align: center;
  position: absolute;
  background: transparent;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.6s cubic-bezier(0.3,1,0,1);
  transition: all 0.6s cubic-bezier(0.3,1,0,1);
}
.testimonial4_control_button .carousel-control.left{
  left: 7%;
  top: 50%;
  right: auto;
}
.testimonial4_control_button .carousel-control.right{
  right: 7%;
  top: 50%;
  left: auto;
}
.testimonial4_control_button .carousel-control.left:hover,
.testimonial4_control_button .carousel-control.right:hover{
  color: #000;
  background: #fff;
  border: 2px solid #fff;
}

.testimonial4_header{
  top: 0;
  left: 0;
  bottom: 0;
  width: 550px;
  display: block;
  margin: 30px auto;
  text-align: center;
  position: relative;
}
.testimonial4_header h4{
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.testimonial4_slide{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  margin: auto;
  padding: 20px;
  position: relative;
  text-align: center;
}
.testimonial4_slide img {
    top: 0;
    left: 0;
    right: 0;
    width: 136px;
    height: 136px;
    margin: auto;
    display: block;
    color: #f2f2f2;
    font-size: 18px;
    line-height: 46px;
    text-align: center;
    position: relative;
    border-radius: 50%;
    box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
}
.testimonial4_slide p {
    color: #ffffff;
    font-size: 20px;
    line-height: 1.4;
    margin: 40px 0 20px 0;
}
.testimonial4_slide h4 {
  color: #ffffff;
  font-size: 22px;
}

.testimonials .carousel {
	padding-bottom:50px;
}
.testimonials .carousel-control-next-icon, .testimonials .carousel-control-prev-icon {
    width: 35px;
    height: 35px;
}
/* ------testimonial  close-------*/

.foot
{
height: 30vh;
width:100%;
background-color: #070707;
color:white;
text-align: center;
margin-top:4%;
}
.foot h2{
    opacity: 0.5;
}
.foot h2:hover{
    opacity: 1;
}
.footer
{
    background-color: #000;
    color:white;
    padding:2px 0px;
    text-align: center;
}

/*////////////*/

@media(max-width: 1200px){

.cards{
    width: 90%;
    margin: 20px 30px;
}
.cards1{
    width: 90%;
    margin: 20px 30px;
}
.cards2{
    width: 90%;
    margin: 20px 30px;
}
.cards3{
    width: 90%;
    margin: 20px 30px;
}
}


@media(max-width: 992px){
     .mycontainer8
    {
        max-width:889;
    }
    .banner h1{
        font-size: 23px;
    }
    .price{
    padding-left:4%;    
    }
    .iconsd
{
background-color:#F1F1F1;
    /*padding: 16px 0;*/
        text-align: center;
}
.coll-lar{
        width: 25%;
    float: left;
}    
.cards{
    width: 100%;
    margin: 20px 30px;
}
.cards1{
    width: 100%;
    margin: 20px 30px;
}
.cards2{
    width: 100%;
    margin: 20px 30px;
}
.cards3{
    width: 100%;
    margin: 20px 30px;
}
.social-icons{
    padding: 10px 0;

}
}
.fixed
{
    max-height:100vh;
}

@media(max-width: 767px){
   
    .banner h1{
        font-size: 23px;
    }
    .iconsd
{
background-color:#F1F1F1;
    /*padding: 16px 0;*/
        text-align: center;
}
.social-icons{
    padding: 10px 0;

}
.cards{
    width: 90%;
    margin: 20px 20px;
}
.cards::after{
    content: 'Congratulations for your Business';
    text-align: center;
    
    position: absolute;
    top: 0;
    /*left: 0;*/
    background:rgba(84, 226, 214, 0.637);;
    color:#fff;
    font-size: 33px;
    width: 240px;
    height: 160px;
    transform: rotateY(90deg);

}
.cards1{
    width: 90%;
    margin: 20px 20px;
}
.cards1::after{
    content: 'Congratulations for your Business';
    text-align: center;
    
    position: absolute;
    top: 0;
    /*left: 0;*/
    background:rgba(84, 226, 214, 0.637);;
    color:#fff;
    font-size: 33px;
    width: 240px;
    height: 160px;
    transform: rotateY(90deg);

}.cards2{
    width: 90%;
    margin: 20px 20px;
}
.cards2::after{
    content: 'Congratulations for your Business';
    text-align: center;
    
    position: absolute;
    top: 0;
    /*left: 0;*/
    background:rgba(84, 226, 214, 0.637);;
    color:#fff;
    font-size: 33px;
    width: 240px;
    height: 160px;
    transform: rotateY(90deg);

}
.cards3{
    width: 90%;
    margin: 20px 20px;
}
.cards3::after{
    content: 'Congratulations for your Business';
    text-align: center;
    
    position: absolute;
    top: 0;
    /*left: 0;*/
    background:rgba(84, 226, 214, 0.637);;
    color:#fff;
    font-size: 33px;
    width: 240px;
    height: 160px;
    transform: rotateY(90deg);

}
.coll-md-4{
        width: 50%;
    float: left;
}

.col-sm-3
{
    flex:100%;
    max-width:100%;
}.image img {
    max-width: 30%;
}
.ban
{   height:60vh;
    padding-top:20%;
    margin-top:20%;
}
}
@media screen and (min-width: 768px){
.mycontainer8 {
    max-width: 854px;
}
.image img {
    max-width: 100%;
}
.carousel-inner {
    height: 51vh;
    padding-top: 0%;
}
.ban
{   height:400px;
    padding-top:20%;
margin-top:0%;
}
}
@media screen and (max-width: 460px){
    
 
    .navbar1 {
    overflow: hidden;
    background-color: brown;
    padding: 0.5% 5%;
    transition: 0.4s;
    position: relative;
    width: 100%;
    top: 0%;
    margin-top: -14px;
    z-index: 99;
    color: white;
    opacity: 1;
}
    .navbar1 {
    overflow: hidden;
    background-color: brown;
    padding: 0.5% 5%;
    transition: 0.4s;
    position: relative;
    width: 100%;
    top: 0%;
    margin-top: -14px;
    z-index: 99;
    color: white;
    opacity: 1;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    margin-right: 344px;
    margin-top: -5px;
    background: no-repeat center center;
    background-size: 100% 100%;
}
    .navbar-light .navbar-nav
    {
        color:white;
    }
    .navbar-light .navbar-nav .nav-link {
        color: white;
    }
    .navbar-light .navbar-nav .nav-link-active {
        color: rgba(0,0,0,.5);
    }
    .carousel-item
    {
        height: 50vh;
        width:100%;
    }
    .w-100 {
        width: 100%!important;
        height: 60vh;
    }
    .mycontainer1 {
    display: inline;
    
}
.logoid {
    /* height: 10px; */
    display: inline;
    z-index: 1;
    height: 67px;
    z-index: 1;
    margin-top: 21px;
    margin-left: -8px;
}
.brandname h1 {
    color: #8E343E;
    text-transform: initial;
    font-weight: bold;
    text-align: center;
    font-size: 34px;
    margin-top: -58px;
    /* width: 61%; */
    /* margin-top: -115px; */
    margin-left: 114px;
}
.ban {
    height: 510px;
    background-image: url(gu1.jpg);
    background-size: cover;
    padding-top: 40%;
    width: 100%;
    margin-top: 0%;
}
.contcelb
{
    height: 265vh;
    margin-top: 05%;
    background-color: #4957BA;
    border-radius: 05%;
    width: 95%;
    text-align: center;
    margin-left: 02%;
}
.celb {
    height: 230vh;
    margin-left: 2%;
    width: 114%;
}
.c
{
    margin-top: 06%;
    margin-left: 0%;
    height: 50vh;
}
.c21
{
    margin-top: 06%;
    height: 20%;
    margin-left: 0;
}
.day
{
    text-align: center;
    margin-top: 99%;
    margin-left: 10%;
}
.benifits {
    height: 151%;
    background-image: url(bg-ug2.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 02%;
    width:116%;
}
.col-b1
  {
      color:white;
      margin-top: 24%;
      
  }
.best
{
    width:100%;
    text-align:center;
}
.testimonials
{
    min-height: 375px;
    position: relative;
    background:
url(https://i.ibb.co/PTJDkgb/testimonials.jpg);
    padding-top: 50px;
    padding-bottom: 50px;
    background-position: center;
    background-size: cover;
    width: 100%;
}
.our-vision {
    padding-top: 03%;
    padding-bottom: 3%;
    max-width: 98.9%;
    background: #f2f2f2;
    height: 74%;
}
.services1 {
    height: 71px;
    width: 22%;
    margin-left: 34%;
    margin-top: 9%;
    color: white;
    /* padding: 10%; */
    padding: 4% 5%;
    background: #8190A3;
}
.services {
    max-width: 98.9%;
    margin-top: -24%;
    background: #F7F7F7;
    height: 200vh;
    padding-top: 06%;
}
.v1v5{
text-align: left; margin-left: 10%;padding-top: 4%;
}

.vision-content h4
{
    text-align:center;
    padding-left:10%;
        margin-left: -18%;
}
.coll-sm-12{
        width: 100%;
    float: left;
}
.videos {
    height: 127vh;
    margin-top: 111%;
    background: #4957BA;
    width: 98.1%;
}
.what-we-content
{
    height:30vh;
    margin-left:12%;
}
.our-col
{
    margin: 7% 0%;
}
.our-loca {
    height: 900px;
    width: 100%;
    background: white;
    padding-top: 10%;
    text-align: center;
    margin-left: -8px;
}
.callus {
    margin-top: 0%;
    height: 95vh;
    width: 100%;
    color: black;
    font-weight: 800;
    box-shadow: 5% 5% 8% 8% gray;
    background: rgb(248, 248, 248);
}
.cont {
    height: 114vh;
    width: 100%;
    padding-left: 4%;
    background-image: url(New Project.jpg);
    background-attachment: fixed;
}
.container-coun
{
    width:52%;
}
.col-coun
{
    margin:10% 0%;
}
.map-mobile
{
    padding-left: 0px;
    width: 100%;
}
.foot {
    height: 19vh;
    width: 100%;
    background-color: #070707;
    color: white;
    text-align: center;
    margin-top: 12%;
}
.foot h2{
    opacity: 0.5;
}
.foot h2:hover{
    opacity: 1;
}
.footer
{
    background-color: #000;
    color:white;
    padding:2px 0px;
    text-align: center;
    width: 100%;

}
#box{
    padding:14% 0%;
    background:red;
    width:200px;
    height:23vh;
    font-family:Helvetica
  }
  
  #box h1, span{
    color:#FFFFFF;
    font-weight:normal
        margin-right: 97%;

  }
  
  #box h1{
    font-size:1.4em;
    text-align:center;
    line-height:1.2;
        margin-right: 97%;

  }
  
  #box span{
    font-size:4.4em;
    text-align:center;
    display:block;
  }
  .video
  {
      height: 90vh;
      background-color: #4957BA;
      font-weight: 800;
      padding:3% 0%;
      font-size:19px;
      color:white;
  }
  .video1
  {
      padding-top:05%;
  }

  
.fixed{
width: 100%;
height: 100vh;
background: url("img/0.jpg");
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
background-attachment: fixed;  
padding-bottom:10%
}

.bar{
    width:100%;
    max-width: 100%;
}

.bar h3 {
  font-size: 1.6em;
  font-weight: 50%;
  margin: 0;
  padding-top: 16%;
  text-transform: uppercase;
  color: orange;
}

.pr
{
    margin-top:10%;
}



























