*
{
    padding:0%;
    margin: 0%;
    font-family: 'Roboto Condensed', sans-serif;
    scroll-behavior: smooth;
}
.brandname {
    height: 127px;
}
.logoid {
    /* height: 10px; */
    display: inline;
    z-index: 1;
    height: 67px;
    z-index: 1;
    margin-left: 36px;
}
.logoid:hover
{
    opacity:0.5;
}
.brandname h1 {
    color: #8E343E;
    text-transform: initial;
    font-weight: bold;
    text-align: center;
    font-size: 37px;
        margin-top: -58px;
    /* width: 61%; */
    /* margin-top: -115px; */
    margin-left: -20px;
}
.brandname h4
{
color: #8E343E;
    margin-left: 14px;
    /* font-size: 27px; */
    font-weight: bold;
}
.w-100 {
    width: 100%!important;
    margin-top: 0px;
}

.menu-bar
{
background-color:non;
}

.navbar {
    overflow: hidden;
    background-color:#8E343E;
    padding:0.5% 5%;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0%;
    z-index: 99;
    color:white;
}
.nav-item
{
    margin: -1px 13px;
}
.nav-link a
{
    padding: 0px 0px;
}
 .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.7);
}
.nav link a:hover
{
    color:black;
}
.navbar-nav{
    padding:0% 0%;
}
.menu-bar1
{
background-color:#4957BA;
}
.navbar1 {
    overflow: hidden;
    background-color: brown;
    /* padding: 0.5% 5%; */
    transition: 0.4s;
    position: relative;
    width: 100%;
    height: 52px;
    top: 0%;
    margin-top: -33px;
    z-index: 99;
    color: white;
    opacity: 1;
}
.hide{
    opacity: 0;
}
.nav-link
{
    font-size: 19px;
    color:white;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
.nav1
{
display: block;
opacity: 0;
}
.navbar-light .navbar-nav {
    color: white;
    padding: 0% 8%;
    margin-left: 120px;
    margin-top: -11px;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 25px;
}
.navbar-light .navbar-nav .nav-link-active {
    color: black;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: black;
}
.brand-image
{
height: 60px;
width:20%;
}
.social-icons{
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;

}
.iconsd{
background-color:#F1F1F1;

}
.navbar-nav
{
    text-align: right;
}
.navbar .navbar-toggler
{
    padding-right: 0;
    outline: none;
    border:none;
}
.dropdown:hover>.dropdown-menu {
    display: inline;
    overflow: visible;
    z-index: 1000;
    position: inherit;
    transform: uppercase;
}
.ban
{   height:360px;
    color:white;
   background:linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url("images/gopinathfwg.JPG");

}
.ban h1
{
     text-align:center;
    font-weight:900;
    font-size:46px
}
.co
{    text-align: center;
     border: 1px solid black;
    height:01vh;
    width: 10%;
    margin-left:45%;
    overflow: hidden;
}
.co1
{   height: 01vh;
    width:30%;
    background: #4957BA;
}
.btn
{
    background-color:#FFD60E;
    transition: 0.72ms;
    float: left;
}
.btn:hover
{    color:#FFD60E;
    background-color:transparent;
    border-color: blue;
}
.celb
{
    height: 146px;
}
.newsevents
{
    height: 1376px;
    background: rgba(237, 237, 244, 0.938);
    background-size: cover;
    
}
.containerdesign
{
    width: 80%;
    height: 1285px;
    text-align: center;
    background:white;
    border-radius: 10px;
    overflow:hidden;
    color:#4957BA;
    box-shadow: 4% 2% 8% 4% lightgray;
    
}

.design
{
    height:  328px;
    overflow: hidden;
}
.content-news
{
    margin-top: 05%;
}
.Viewbtn
{
    width: 40%;
    border-radius:20px;
    color:white;
    background:linear-gradient(to left, #FFD60E,#CD5751);
}
.view12
{
    margin-left:128px;
}
.c21
  {
    width: 99%;
    height: 41%;
    margin-top: 06%;
    margin-left: 0%;
}
.co01
{    text-align: center;
     border: 1px solid black;
    height:01vh;
    width: 30%;
    margin-left:30%;
    padding-left: 12%;
    overflow: hidden;
}
.co02
{   height: 01vh;
    width:30%;
    background: white;
}
.co011
{    text-align: center;
     border: 1px solid black;
    height:01vh;
    width: 30%;
    margin-left:0%;
    padding-left: 12%;
    overflow: hidden;
}
.co021
{   height: 01vh;
    width:30%;
    background: white;
}
.crd {
    border:2px solid navy;
    border-radius: 30px;
    overflow: hidden;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  .day
  {
      margin-top: -8%;
      background: linear-gradient(to right,blue,rgb(255, 0, 149));
  }
  .trophy
  {
        height: 590px;
        width: 95%;
        padding:55px;

  }
  .png {
    
    height: 500px;
    background-attachment: fixed;
    width: 425px;
    background: fixed;
}
}
.pngs
{
    background: #4957BA;
}
  
  .png:hover
  {
      background: #000;

  }
  .benifits
  {
      height: 120%;
background-image: url("bg-ug2.jpg");
background-size:cover;
background-position: center;
padding-top: 02%;
  }
  .benifit-content
  {
    border:5px solid white;
  }
  .col-b
{
      color:white;
  }
  .col-b1
  {
      color:white;

  }
  button:hover, a:hover {
    opacity: 0.7;
  }
  .hi {
      border-radius: 30px;
      box-shadow: 5px 10px 10px navy;
  }
  /*-----Testimonial-------*/

.testimonials:after {
    position: absolute;
    top: -0 !important;
    left: 0;
    content: " ";
    background: url(img/testimonial.bg-top.png);
    background-size: 100% 100px;
    width: 100%;
    height: 100px;
    float: left;
    z-index: 99;
}

.testimonials {
    min-height: 375px;
    position: relative;
    padding-top: 50px;
    background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-bottom: 50px;
    background-position: center;
        background-size: cover;
}
#testimonial4 .carousel-inner:hover{
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#testimonial4 .carousel-inner:active{
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#testimonial4 .carousel-inner .item{
  overflow: hidden;
}

.testimonial4_indicators .carousel-indicators{
  left: 0;
  margin: 0;
  width: 100%;
  font-size: 0;
  height: 20px;
  bottom: 15px;
  padding: 0 5px;
  cursor: e-resize;
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}
.testimonial4_indicators .carousel-indicators li{
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  text-indent: 0;
  margin: 2px 3px;
  cursor: pointer;
  display: inline-block;
  background: #ffffff;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators .active{
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  margin: 2px 3px;
  background-color: #9dd3af;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar{
  height: 3px;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar-thumb{
  background: #eeeeee;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.testimonial4_control_button .carousel-control{
  top: 175px;
  opacity: 1;
  width: 40px;
  bottom: auto;
  height: 40px;
  font-size: 10px;
  cursor: pointer;
  font-weight: 700;
  overflow: hidden;
  line-height: 38px;
  text-shadow: none;
  text-align: center;
  position: absolute;
  background: transparent;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.6s cubic-bezier(0.3,1,0,1);
  transition: all 0.6s cubic-bezier(0.3,1,0,1);
}
.testimonial4_control_button .carousel-control.left{
  left: 7%;
  top: 50%;
  right: auto;
}
.testimonial4_control_button .carousel-control.right{
  right: 7%;
  top: 50%;
  left: auto;
}
.testimonial4_control_button .carousel-control.left:hover,
.testimonial4_control_button .carousel-control.right:hover{
  color: #000;
  background: #fff;
  border: 2px solid #fff;
}

.testimonial4_header{
  top: 0;
  left: 0;
  bottom: 0;
  width: 550px;
  display: block;
  margin: 30px auto;
  text-align: center;
  position: relative;
}
.testimonial4_header h4{
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.testimonial4_slide{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  margin: auto;
  padding: 20px;
  position: relative;
  text-align: center;
}
.testimonial4_slide img {
    top: 0;
    left: 0;
    right: 0;
    width: 136px;
    height: 136px;
    margin: auto;
    display: block;
    color: #f2f2f2;
    font-size: 18px;
    line-height: 46px;
    text-align: center;
    position: relative;
    border-radius: 50%;
    box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
}
.testimonial4_slide p {
    color: #ffffff;
    font-size: 20px;
    line-height: 1.4;
    margin: 40px 0 20px 0;
}
.testimonial4_slide h4 {
  color: #ffffff;
  font-size: 22px;
}

.testimonials .carousel {
	padding-bottom:50px;
}
.testimonials .carousel-control-next-icon, .testimonials .carousel-control-prev-icon {
    width: 35px;
    height: 35px;
}
/* ------testimonial  close-------*/
.foot
{
height: 30vh;
width:100%;
background-color: #070707;
text-align:center;
}
.foot h2{
    opacity: 0.3;
    color:white;
}
.foot h2:hover{
    color: white;
    opacity: 0.9;
}
.footer
{
    background-color: #000;
    color:white;
    padding:2px 0px;
    text-align: center;
}


/*////////////*/

@media(max-width: 1200px){

.cards{
    width: 90%;
    margin: 20px 30px;
}
.cards1{
    width: 90%;
    margin: 20px 30px;
}
.cards2{
    width: 90%;
    margin: 20px 30px;
}
.cards3{
    width: 90%;
    margin: 20px 30px;
}
}


@media(max-width: 992px){
     .mycontainer8
    {
        max-width:889;
    }
    .banner h1{
        font-size: 23px;
    }
    .price{
    padding-left:4%;    
    }
    .iconsd
{
background-color:#F1F1F1;
    /*padding: 16px 0;*/
        text-align: center;
}
.coll-lar{
        width: 25%;
    float: left;
}    
.cards{
    width: 100%;
    margin: 20px 30px;
}
.cards1{
    width: 100%;
    margin: 20px 30px;
}
.cards2{
    width: 100%;
    margin: 20px 30px;
}
.cards3{
    width: 100%;
    margin: 20px 30px;
}
.social-icons{
    padding: 10px 0;

}
}
.fixed
{
    max-height:100vh;
}

@media(max-width: 767px){
   
    .banner h1{
        font-size: 23px;
    }
    .iconsd
{
background-color:#F1F1F1;
    /*padding: 16px 0;*/
        text-align: center;
}
.social-icons{
    padding: 10px 0;

}
.cards{
    width: 90%;
    margin: 20px 20px;
}
.cards::after{
    content: 'Congratulations for your Business';
    text-align: center;
    
    position: absolute;
    top: 0;
    /*left: 0;*/
    background:rgba(84, 226, 214, 0.637);;
    color:#fff;
    font-size: 33px;
    width: 240px;
    height: 160px;
    transform: rotateY(90deg);

}
.cards1{
    width: 90%;
    margin: 20px 20px;
}
.cards1::after{
    content: 'Congratulations for your Business';
    text-align: center;
    
    position: absolute;
    top: 0;
    /*left: 0;*/
    background:rgba(84, 226, 214, 0.637);;
    color:#fff;
    font-size: 33px;
    width: 240px;
    height: 160px;
    transform: rotateY(90deg);

}.cards2{
    width: 90%;
    margin: 20px 20px;
}
.cards2::after{
    content: 'Congratulations for your Business';
    text-align: center;
    
    position: absolute;
    top: 0;
    /*left: 0;*/
    background:rgba(84, 226, 214, 0.637);;
    color:#fff;
    font-size: 33px;
    width: 240px;
    height: 160px;
    transform: rotateY(90deg);

}
.cards3{
    width: 90%;
    margin: 20px 20px;
}
.cards3::after{
    content: 'Congratulations for your Business';
    text-align: center;
    
    position: absolute;
    top: 0;
    /*left: 0;*/
    background:rgba(84, 226, 214, 0.637);;
    color:#fff;
    font-size: 33px;
    width: 240px;
    height: 160px;
    transform: rotateY(90deg);

}
.coll-md-4{
        width: 50%;
    float: left;
}

.col-sm-3
{
    flex:100%;
    max-width:100%;
}.image img {
    max-width: 30%;
}
.ban
{   height:60vh;
    padding-top:20%;
    margin-top:20%;
}
}
@media screen and (min-width: 768px){
.mycontainer8 {
    max-width: 854px;
}
.image img {
    max-width: 100%;
}
.carousel-inner {
    height: 374px;
    padding-top: 0%;
}
.ban
{   height:60vh;
    padding-top:20%;
margin-top:0%;
}
}
@media screen and (max-width: 460px){
    .navbar {
    overflow: hidden;
    background-color:#60232A;
    padding:0% 5%;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}
.brandname h1 {
    color: #8E343E;
    text-transform: initial;
    font-weight: bold;
    text-align: center;
    font-size: 34px;
    margin-top: -58px;
    /* width: 61%; */
    /* margin-top: -115px; */
    margin-left: 114px;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    margin-right: 344px;
    margin-top: -5px;
    background: no-repeat center center;
    background-size: 100% 100%;
}
.brandname h4 {
    color:transparent;
    margin-left: 14px;
    /* font-size: 27px; */
    font-weight: bold;
}
.logoid {
    /* height: 10px; */
    display: inline;
    z-index: 1;
    height: 67px;
    z-index: 1;
    margin-top: 21px;
    margin-left: -8px;
}
.ban {
    height: 510px;
    background-image: url(gu1.jpg);
    background-size: cover;
    padding-top: 40%;
    margin-top: 0%;
}
.navbar1 {
    overflow: hidden;
    background-color: brown;
    padding: 0.5% 5%;
    transition: 0.4s;
    position: relative;
    width: 100%;
    top: 0%;
margin-top: -14px;

    z-index: 99;
    color: white;
    opacity: 1;
}
.page-width {
    width: 92%;
    max-width: 960px;
    margin: 0 auto;
    height: 401px;
}
/*.brandname {
    height: 167px;
}*
.logoid {
 height: 10px; *
   display:none;
}
/*.brandname h1 {
    color: #8E343E;
    text-transform: initial;
    font-weight: bold;
    text-align: center;
    font-size: 36px;
    margin-top: 23px;
    margin-left: 0px;
}
.brandname h4 {
    display:none;
}*/
.navbar-light .navbar-nav
{
    color:white;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.navbar-light .navbar-nav .nav-link-active {
    color: rgba(0,0,0,.5);
}
.ban
{   height:510px;
    background-image:url(gu1.jpg);
    background-size:cover;
    padding-top:40%;
    width: 100%;
    margin-top: 0%;
}
.row200
{
    margin:44px 0px;
    border:2px solid brown;
}
.newsevents {
    height: 3070px;
    width: 100%;
    background: rgba(237, 237, 244, 0.938);
    background-size: cover;
    margin-top: -398%;

}
.view12
{
    text-align: center;
    margin-left: 80px;
}.viewbtn
 {
    margin-bottom: 26px;
}
.design
{   height:223px;
    width:100%;
}
.trophy
{
    height: 991px;
    width: 100%;
   
}
.png {
    width: 92%;
    height: 447px;
    margin-left: 05%;
}
.contcelb
{
    height: 265vh;
    margin-top: 05%;
    background-color: #4957BA;
    border-radius: 05%;
    width: 95%;
    text-align: center;
    margin-left: 02%;
}
.celb {
    height:  2015px;
    margin-left: 0px;
    width: 100%;
}
.c
{
    margin-top: 06%;
    margin-left: 0%;
    height: 50vh;
}
.c21
{
    margin-top: 06%;
    height: 20%;
    margin-left: 0;
}
.day
{
    text-align: center;
    margin-top: 99%;
    margin-left: 10%;
}
.benifits {
    height: 151%;
    background-image: url(bg-ug2.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 02%;
    width:100%;
}
.col-b1
  {
      color:white;
      margin-top: 24%;
      
  }
.best
{
    width:100%;
    text-align:center;
}
.testimonials
{
    min-height: 375px;
    position: relative;
    background:;
    padding-top: 50px;
    padding-bottom: 50px;
    background-position: center;
    background-size: cover;
    width: 100%;
}
.our-vision {
    padding-top: 03%;
    padding-bottom: 3%;
    max-width: 98.9%;
    background: #f2f2f2;
    height: 74%;
}
.services1 {
    height: 71px;
    width: 22%;
    margin-left: 34%;
    margin-top: 9%;
    color: white;
    /* padding: 10%; */
    padding: 4% 5%;
    background: #8190A3;
}
.services {
    max-width: 98.9%;
    margin-top: -24%;
    background: #F7F7F7;
    height: 200vh;
    padding-top: 06%;
}
.v1v5{
text-align: left; margin-left: 10%;padding-top: 4%;
}
.vision-content h4
{
    text-align:center;
    padding-left:10%;
        margin-left: -18%;
}
.coll-sm-12{
        width: 100%;
    float: left;
}
.videos {
    height: 127vh;
    margin-top: 111%;
    background: #4957BA;
    width: 98.1%;
}
.what-we-content
{
    height:30vh;
    margin-left:12%;
}
.container-coun
{
    width:52%;
}
.col-coun
{
    margin:10% 0%;
}
.foot {
    height: 30vh;
    width: 100%;
    background-color: #070707;
    text-align: center;
    padding-top: 22%;

}.footer{
    width: 100%;
}
#box{
    padding:14% 0%;
    background:red;
    width:200px;
    height:23vh;
    font-family:Helvetica
  }
  
  #box h1, span{
    color:#FFFFFF;
    font-weight:normal
        margin-right: 97%;

  }
  
  #box h1{
    font-size:1.4em;
    text-align:center;
    line-height:1.2;
        margin-right: 97%;

  }
  
  #box span{
    font-size:4.4em;
    text-align:center;
    display:block;
  }
  .video
  {
      height: 90vh;
      background-color: #4957BA;
      font-weight: 800;
      padding:3% 0%;
      font-size:19px;
      color:white;
  }
  .video1
  {
      padding-top:05%;
  }

  
.fixed{
width: 100%;
height: 100vh;
background: url("img/0.jpg");
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
background-attachment: fixed;  
padding-bottom:10%
}

.bar{
    width:100%;
    max-width: 100%;
}

.bar h3 {
  font-size: 1.6em;
  font-weight: 50%;
  margin: 0;
  padding-top: 16%;
  text-transform: uppercase;
  color: orange;
}

.pr
{
    margin-top:10%;
}



























